body.dev {
    background: repeating-linear-gradient(45deg, hsl(0,0%,100%), hsl(0,0%,100%) 20px, hsl(0,0%,98%) 20px, hsl(0,0%,98%) 40px)
}

body #main-navbar {
    background-color: rgb(25,135,84)
}
body.dev #main-navbar {
     background: repeating-linear-gradient(45deg, hsl(354,70%,54%), hsl(354,70%,54%) 20px, hsl(354,70%,45%) 20px, hsl(354,70%,45%) 40px)
}
dt {
    margin-top: 0.5em;
    font-weight: bold;
}

dd {
    margin-left: 0;
}

th {
    text-align: left;
}

td, th {
    padding-left: 1em;
    padding-right: 1em;
}

#taxa-hierarchy ul {
    list-style-type: none;
}

#taxa-hierarchy ul {
    padding-left: 0.5rem;
}

#taxa-hierarchy > ul {
    padding-left: 0;
}

#taxa-hierarchy li > ul > li:before {
    font-family: "bootstrap-icons";
    content: "\F132";
    list-style-type: none;
}

#taxa-hierarchy .vernacular,.rank {
    font-style: italic;
}

#taxa-hierarchy .rank {
    color: hsl(0, 0%, 50%);
    font-size: 80%;
}

#sc-footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

.badge.planting {
    background-color: var(--bs-orange);
}

.badge.germination {
    background-color: var(--bs-teal);
}

.badge.preparation {
    background-color: var(--bs-yellow);
}

.badge.growing {
    background-color: var(--bs-green);
}

.badge.other {
    background-color: var(--bs-pink);
}
