#sc-header, #sc-content, #sc-footer {
    margin: 0;
    padding: 1em 2em;
}

#sc-header {
    background-color: var(--bs-green);
    color: hsl(0, 100%, 100%);
}

a {
    font-weight: bold;
}

dt {
    margin-top: 0.5em;
    font-weight: bold;
}

dd {
    margin-left: 0;
}

th {
    text-align: left;
}

td, th {
    padding-left: 1em;
    padding-right: 1em;
}

#taxa-hierarchy ul {
    padding-left: 1em;
    list-style-type: disc;
}

#taxa-hierarchy .native,
#taxa-hierarchy .native > * {
    color: var(--bs-success-text-emphasis);
    background-color: var(--bs-success-bg-subtle);
}

#taxa-hierarchy .introduced,
#taxa-hierarchy .introduced  > * {
    color: var(--bs-danger-text-emphasis);
    background-color: var(--bs-danger-bg-subtle);
}

#taxa-hierarchy .unknown,
#taxa-hierarchy .unknown  > * {
    color: var(--bs-warning-text-emphasis);
    background-color: var(--bs-warning-bg-subtle);
}

#taxa-hierarchy .vernacular,.rank {
    font-style: italic;
}

#taxa-hierarchy .rank {
    color: hsl(0, 0%, 50%);
    font-size: 80%;
}

#sc-footer {
    padding-top: 2em;
    padding-bottom: 2em;
}


span.success, span.danger, span.warning {
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

span.success {
    background-color: var(--bs-success-bg-subtle);
    border-color: var(--bs-success-border-subtle);
    color: var(--bs-success-text-emphasis);
}

span.danger {
    background-color: var(--bs-danger-bg-subtle);
    border-color: var(--bs-danger-border-subtle);
    color: var(--bs-danger-text-emphasis);
}

span.warning {
    background-color: var(--bs-warning-bg-subtle);
    border-color: var(--bs-warning-border-subtle);
    color: var(--bs-warning-text-emphasis);
}
