#sc-header, #sc-content, #sc-footer {
    margin: 0;
    padding: 1em 2em;
}

#sc-header {
    background-color: var(--bs-green);
    color: hsl(0, 100%, 100%);
}

a {
    font-weight: bold;
}

dt {
    margin-top: 0.5em;
    font-weight: bold;
}

dd {
    margin-left: 0;
}

th {
    text-align: left;
}

td, th {
    padding-left: 1em;
    padding-right: 1em;
}

#taxa-hierarchy ul {
    padding-left: 1em;
    list-style-type: disc;
}
#taxa-hierarchy li.highlighted {
    background-color: hsla(0, 0%, 100%, 30%);
}

#taxa-hierarchy li.highlighted ul{
    background-color: transparent;
}

#taxa-hierarchy .vernacular,.rank {
    font-style: italic;
}

#taxa-hierarchy .rank {
    color: hsl(0, 0%, 50%);
    font-size: 80%;
}

#taxon-suggestions {
    max-height: 20em;
    padding: 1em;
    background-color: hsla(0, 0%, 100%, 30%);
    overflow: scroll;
}
