/.env
/config.yaml
/Cargo.lock
/certs/server.crt
/certs/server.csr
/certs/server.key
/target
/TODO
/seedcollection.sqlite*
/db/itis/ITIS.sqlite
/db/itis/itisSqlite.zip
/db/itis/seedcollection.sqlite
/db/itis/seedcollection.sqlite.orig
/db/itis/seedcollection.sqlite.stamp
/db/itis/ReadmeSqlite.txt
/web/vendor-js/node_modules
/deploy/podman/volumes/
