# This file should consist of a 'dictionary' of runtime environments that can be
# selected via the --env argument. Environment names are user-defined.

dev:
  # path to the database to use for this environment
  database: seedcollection.sqlite
  # The mail transport to use for sending out emails. There are three variants
  # and the type of transport must be specified with one of the following a
  # yaml tags:
  # - !LocalSmtp: no arguments, just sends email via a local smtp server like sendmail
  # - !File: a simple path argument. Useful for testing -- just writes emails to a file at the given path
  # - !Smtp: arguments shown below. Connects to the given remote smtp server to send emails
  mail_transport: !LocalSmtp
  # the absolute path to static css and javascript files on the server
  asset_root: "/path/to/assets"
  # The address that the application should listen for incoming connections
  listen: &DEFAULT_LISTEN
    host: "0.0.0.0"
    # port to listen for http connections, defaults to port 80
    http_port: 8080
    # port to listen for https connections, defaults to port 443
    https_port: 8443
  # Whether or not this application will allow users to register new accounts
  user_registration_enabled: true
prod:
  database: seedcollection.sqlite.prod
  mail_transport: !Smtp
    # the URL where the SMTP server can be reached
    url: "smtps://smtp.domain.com"
    # the port that the SMTP server is listening on
    port: 465
    # credentials for logging into the SMTP server
    credentials:
      # SMTP username
      username: "user@domain.com"
      # a file containing a password that is used to log into the SMTP server
      passwordfile: "/path/to/smtpd/password"
  asset_root: "/path/to/assets"
  listen: *DEFAULT_LISTEN
  user_registration_enabled: true
