dev:
  database: seedcollection.sqlite
  mail_transport: !LocalSmtp
  asset_root: "/path/to/assets"
  listen: &DEFAULT_LISTEN
    host: "0.0.0.0"
    http_port: 8080
    https_port: 8443
  user_registration_enabled: true
prod:
  database: seedcollection.sqlite.prod
  mail_transport: !Smtp
    url: "smtps://smtp.domain.com"
    port: 465
    credentials:
      username: "user@domain.com"
      passwordfile: "/path/to/smtpd/password"
  asset_root: "/path/to/assets"
  listen: *DEFAULT_LISTEN
  user_registration_enabled: true
