dev:
  database: seedcollection.sqlite
  mail_transport: !LocalSmtp
  listen: !ListenConfig &DEFAULT_LISTEN
    host: "0.0.0.0"
    http_port: 8080
    https_port: 8443
prod:
  database: seedcollection.sqlite.prod
  listen: *DEFAULT_LISTEN
  mail_transport: !Smtp
    url: "smtps://smtp.domain.com"
    port: 465
    credentials:
      username: "user@domain.com"
      passwordfile: "/path/to/smtpd/password"
