{% from "_macros.html" import show_message, icon %}

{% macro collection_form(id, collection=none, message=none, request=none) -%}
<form 
{% if collection %}
hx-put="{{ ("/collection/" ~ collection.id) | app_url }}"
{% else %}
hx-post="{{ "/collection/new" | app_url }}"
{% endif %}
 hx-swap="outerHTML" id="{{ id }}">
    {{ show_message(message) }}
    <div class="row px-3 mb-3">
        <label class="form-label" for="CollectionNameInput">Name</label>
        <input id="CollectionNameInput"
               form="{{ id }}"
               class="form-control"
               type="text"
               value="{{ request.name or collection.name or "" }}"
               name="name">
    </div>
    <div class="row px-3 mb-3">
        <label class="form-label" for="CollectionDescInput">Description</label>
        <textarea id="CollectionDescInput"
                  form="{{ id }}"
                  class="form-control"
                  name="description">{{ request.description or collection.description or ""}}</textarea>
    </div>
    <div class="row px-3 mb-3">
        <button class="btn btn-primary"
                type="submit">{% if collection %}Update{% else %}Add{% endif %}</button>
    </div>
    {% if collection %}
    <div class="row px-3 mb-3">
        <button type="submit"
                class="btn btn-danger"
                hx-delete="{{ ("/collection/" ~ collection.id) | app_url }}"
                hx-confirm="Are you sure you want to delete collection {{ collection.id }}?"
                hx-target="closest form"
                >Delete</button>
    </div>
    {% endif %}
</form>
{%- endmacro %}


{% macro collection_list(filter=false) -%}
    <div class="mb-3" id="collection-list">
        {% for collection in collections %}
        <div class="d-flex flex-row mb-1">
            <div class="fs-3 align-middle p-1 text-end flex-shrink-0">
                <a class="badge text-bg-light font-monospace"
                   href="{{ ("/collection/" ~ collection.id) | app_url}}">C{{ collection.id | idfmt }}</a>
            </div>
            <div class="d-flex flex-column p-1">
                <div>{{ collection.name }}
                </div>
                <div class="text-secondary">
                    <div class="d-flex flex-row flex-wrap column-gap-3">
                        {% if collection.description %}<div class="fst-italic">{{ collection.description | truncate }}</div>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="alert alert-info">
            {% if filter %}
            No collections match your search
            {% else %}
            No collections exist yet. Add one to get started.
            {% endif %}
        </div>
        {% endfor %}
    </div>
{%- endmacro %}

{% macro collection_sample_list(collection) %}
{% from "_macros.html" import icon %}
{% from "_sample_macros.html" import sample_item %}
{% for csample in collection.samples %}
<div class="collection-sample-row {{ loop.cycle("bg-body-tertiary", "") }}">
    {% call sample_item(csample.sample) %}
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">{{ icon("three-dots-vertical") }}</button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="{{ ("/collection/" ~ collection.id ~ "/sample/" ~ csample.id) | app_url }}"
                   class="dropdown-item">{{ icon("info-circle") }} Details</a>
            </li>
            <li><a href="{{ ("/collection/" ~ collection.id ~ "/sample/" ~ csample.id ~ "/note/new") | app_url }}"
                   class="dropdown-item">{{ icon("card-text") }} Add a note</a>
            </li>
            <li><button type="button"
                    class="dropdown-item btn-danger"
                    hx-delete="{{ ("/collection/" ~ collection.id ~ "/sample/" ~ csample.id) | app_url }}"
                    hx-target="closest .collection-sample-row"
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure you want to remove this sample from the collection?">{{ icon("x") }} Remove from collection</button>
            </li>
        </ul>
    </div>
    {% endcall %}
</div>
{% else %}
<div class="alert alert-info">
    No samples are a part of this collection yet. Add one to get started.
</div>
{% endfor %}
{% endmacro %}

{% macro collection_sample_note_form(sample, message=none) -%}
{% from "_macros.html" import show_message %}
<form hx-post=""
    hx-swap="outerHTML">
    {{ show_message(message) }}
     <label for="SampleNoteSummary" class="form-label">Summary</label>
     <input type="text" id="SampleNoteSummary" name="summary" class="form-control mb-2">
     <label for="SampleNoteDate" class="form-label">Date</label>
     <input type="date" id="SampleNoteDate" name="date" class="form-control mb-2" value="{{ now() |dateformat(format="short") }}">
     <label for="SampleNoteType" class="form-label">Note Type</label>
     <select id="SampleNoteType" name="notetype" class="form-select mb-2">
         <option value="">Select a type...</option>
         {% for t in note_types %}
         <option value="{{ t }}">{{ t }}</option>
         {% endfor %}
     </select>
     <label for="SampleNoteDetails" class="form-label">Details</label>
     <textarea id="SampleNoteDetails" rows="5" name="details" class="form-control mb-2"></textarea>
     <button class="btn btn-primary" type="submit">Add</button>
</form>
{%- endmacro %}
