{% extends "root.html" %}
{% block title %}Seed Collection{% endblock %}
{% block content %}
<h2>{{ self.title() }}</h2>
<p>A tool to help you manage your native seed collection.</p>
<p>
    <a href={{ "/sample/list" | app_url }}>Samples</a> are a single collection
    of seeds for a particular species obtained from a particular location.
</p>
<p>
    <a href={{ "/location/list" | app_url }}>Locations</a> are the place where
    the seed was collected. It could also be the vendor where you purchased
    seeds. This is used to track the provenance of the seed.
</p>
<p>
    <a href={{ "/collection/list" | app_url }}>Collections</a> are groups of
    seed samples intended for a specific purpose, say a planting event or a
    restoration project.
</p>
<ul>
{% endblock %}
