{% from "_macros.html" import show_message %}

{% macro location_form(id, loc=none, message=none, request=none) -%}
<div id="delete-error-display"></div>
{% if loc %}
<form hx-put="{{ ("/location/" ~ loc.id) | app_url }}" id="{{ id }}">
{% else %}
<form hx-post="{{ "/location/new" | app_url }}" id="{{ id }}">
{% endif %}
    {{ show_message(message) }}
    <div class="row g-6">
        <div class="mb-3 col-12">
            <label class="form-label" for="LocationNameInput">Name</label>
            <input id="LocationNameInput"
                   class="form-control"
                   type="text"
                   name="name"
                   value="{{ request.name or loc.name or "" }}">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label" for="LocationLatitudeInput">Latitude</label>
            <input id="LocationLatitudeInput"
                   class="form-control"
                   type="number"
                   step="any"
                   name="latitude"
                   value="{{ request.latitude or loc.latitude or "" }}">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label" for="LocationLongitudeInput">Longitude</label>
            <input id="LocationLongitudeInput"
                   class="form-control"
                   type="number"
                   step="any"
                   name="longitude"
                   value="{{ request.longitude or loc.longitude or "" }}">
        </div>
        <div class="mb-3 col-12">
            <label class="form-label" for="LocationDescInput">Description</label>
            <textarea id="LocationDescInput"
                      rows="5"
                      class="form-control"
                      name="description">{{ request.description or loc.description or "" }}</textarea>
        </div>
    </div>
    {{ caller() }}
</form>
{%- endmacro %}


{% macro location_list(filter=false) -%}
    {% for l in locations %}
    <div class="d-flex flex-row mb-1">
        <div class="fs-3 align-middle p-1 text-end flex-shrink-0">
            <a class="badge text-bg-light font-monospace"
               href="{{ ("/location/" ~ l.id) | app_url}}">L{{ l.id | idfmt }}</a>
        </div>
        <div class="d-flex flex-column p-1">
            <div>{{ l.name |truncate }}
            </div>
            <div class="text-secondary">
                <div class="d-flex flex-row flex-wrap column-gap-3">
                    {% if l.description %}<div class="fst-italic">{{ l.description | truncate }}</div>{% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info">
        {% if filter %}
        No locations exist yet. Create one to get started.
        {% else %}
        No locations match your search
        {% endif %}
    </div>
    {% endfor %}
{%- endmacro %}
