{% macro native_status_badge(native_status) -%}
{% if native_status == "Native" %}
<span class="badge text-bg-success">{{ native_status }}</span>
{% elif native_status == "Introduced" %}
<span class="badge text-bg-danger">{{ native_status }}</span>
{% elif native_status == "Unknown" %}
<span class="badge text-bg-warning">{{ native_status }}</span>
{% endif %}
{%- endmacro %}

{% macro icon(icon_name, color=none) -%}
<i class="bi bi-{{ icon_name }}{% if color %} text-{{ color }}{% endif %}"></i>
{%- endmacro %}

{% macro breadcrumbs(elements) %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      {% for elt in elements %}
      {% if elt.active %}
      <li class="breadcrumb-item active" aria-current="page">{{ elt.name }}</li>
      {% else %}
      <li class="breadcrumb-item"><a href="{{ elt.link }}">{{ elt.name }}</a></li>
      {% endif %}
      {% endfor %}
  </ol>
</nav>
{% endmacro %}

{% macro show_germination_item(germination, list) -%}
<{% if list %}li{% else %}div{% endif %} class="d-flex flex-row gap-2 align-items-start mb-3">
        <a href="{{ ("/info/germination#germ-code-" ~ germination.id ) | app_url}}" class="badge text-bg-light border border-light-subtle">{{ germination.code }}</a><span>{{ germination.summary }}</span>
{% if list %}</li>{% else %}</div>{% endif %}
{%- endmacro %}

{% macro show_germination_list(germinations) -%}
{% with uselist = (germinations | count) > 1 %}
{% if uselist %}
    <ul>
{% endif %}
{% for g in germinations %}
{{ show_germination_item(g, uselist) }}
{% endfor %}
{% if uselist %}
    </ul>
{% endif %}
{% endwith %}
{%- endmacro %}

{% macro show_vernacular_item(name, list) -%}
{% if list %}<li>{% else %}<div>{% endif %}
 {{ name }}
{% if list %}</li>{% else %}</div>{% endif %}
{%- endmacro %}

{% macro show_vernacular_list(vernaculars) -%}
{% with uselist = (vernaculars | count) > 1 %}
{% if uselist %}
    <ul>
{% endif %}
{% for name in vernaculars %}
{{ show_vernacular_item(name, uselist) }}
{% endfor %}
{% if uselist %}
    </ul>
{% endif %}
{% endwith %}
{%- endmacro %}

{% macro flash_message(message) -%}
    {% if message %}
    <div role="alert" class="mb-3 alert alert-dismissible fade show
        alert-{% if message.kind == "Error" %}danger{% elif message.kind == "Warning" %}warning{% elif message.kind == "Info" %}info{% elif message.kind == "Success" %}success{% endif %}">
        {{ message.msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{%- endmacro %}


{% macro filter_sort_widget(url, target, options, query) -%}
    <form
         method="GET"
         action="{{ url }}"
         hx-push-url="true"
         hx-boost="true"
         hx-target="{{ target }}"
         hx-get="{{ url }}"
         hx-trigger="submit, input changed delay:500ms from:input, change changed delay:500ms, change from:#displayallcheck">
    <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   autofocus
                   placeholder="Filter list..."
                   value="{{ query.filter or "" }}"
                   name="filter">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Sort/Filter</button>
            <div class="dropdown-menu dropdown-menu-end">
                <div class="p-3">
                <h5>Sort</h5>
                    <div class="mb-3">
                        <label for="sortselect" class="dropdown-header">Sort field</label>
                        <select id="sortselect" class="form-select" name="sort">
                            {% for option in options %}
                            <option value="{{ option.code }}" {% if query.sort == option.code %}selected{% endif %}>{{ option.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="directionselect" class="dropdown-header">Sort direction</label>
                        <select id="directionselect" class="form-select" name="dir">
                            <option value="asc" {% if query.filter == "asc" %}selected{% endif %}>{{ "Ascending" }}</option>
                            <option value="desc" {% if query.filter == "desc" %}selected{% endif %}>{{ "Descending" }}</option>
                        </select>
                    </div>
                </div>
                <div class="p-3">
                <h5>Filter</h5>
                    <div class="mb-3">
                        <div clas="form-check">
                            <input id="displayallcheck" class="form-check-input" type="checkbox" name="all" value="true" {% if query.all %}checked{% endif %}>
                            <label class="ms-2 form-check-label" for="displayallcheck">Show empty samples</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{%- endmacro %}

{% macro show_map(latitude, longitude, zoom, id) -%}
<script>
var map = L.map("{{ id }}").setView([{{ latitude }}, {{ longitude }}], {{ zoom }});
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
var marker = L.marker([{{ latitude }}, {{ longitude }}]).addTo(map);
</script>
{%- endmacro %}

{% macro pagination(total_pages, current_page, request_uri) %}
{% if total_pages > 1 %}
<nav class="my-3" aria-label="page navigation">
    <ul class="pagination justify-content-center">
        {% with start = [(current_page-1) - 5, 0]|max, end = [(current_page-1) + 6, total_pages]|min %}
        {% if start > 0 %}
        <li class="page-item">
            <a class="page-link" href="{{ request_uri | append_query_param("page", "1") }}">1</a>
        </li>
        {% if start > 1 %}
        <li class="page-item">
            <span class="page-link">...</span>
        </li>
        {% endif %}
        {% endif %}

        {% for i in range(end - start) %}
        {% with p = start + i %}
        <li clas="page-item">
        {% if p + 1 == current_page %}
        <span class="page-link active">{{ p + 1 }}</span>
        {% else %}
        {% with pagestring = (p + 1)|string %}
        <a class="page-link" href="{{ request_uri | append_query_param("page", pagestring)}}">{{ pagestring }}</a>
        {% endwith %}
        {% endif %}
        </li>
        {% endwith %}
        {% endfor %}
        {% if end < (total_pages-1) %}
        <li class="page-item">
            <span class="page-link">...</span>
        </li>
        {% endif %}
        {% if end < total_pages %}
        <li class="page-item">
            <a class="page-link" href="{{ request_uri | append_query_param("page", total_pages|string)}}">{{total_pages}}</a>
        </li>
        {% endif %}
        {% endwith %}
    </ul>
</nav>
{% endif %}
{% endmacro %}
