{% macro month_options(selected) -%}
<option value="">Choose a month...</option>
<option value="1" {% if selected == 1 %}selected{% endif %}>January</option>
<option value="2" {% if selected == 2 %}selected{% endif %}>February</option>
<option value="3" {% if selected == 3 %}selected{% endif %}>March</option>
<option value="4" {% if selected == 4 %}selected{% endif %}>April</option>
<option value="5" {% if selected == 5 %}selected{% endif %}>May</option>
<option value="6" {% if selected == 6 %}selected{% endif %}>June</option>
<option value="7" {% if selected == 7 %}selected{% endif %}>July</option>
<option value="8" {% if selected == 8 %}selected{% endif %}>August</option>
<option value="9" {% if selected == 9 %}selected{% endif %}>September</option>
<option value="10" {% if selected == 10 %}selected{% endif %}>October</option>
<option value="11" {% if selected == 11 %}selected{% endif %}>November</option>
<option value="12" {% if selected == 12 %}selected{% endif %}>December</option>
{%- endmacro %}

{% macro native_status_badge(native_status) -%}
{% if native_status == "Native" %}
<span class="badge text-bg-success">{{ native_status }}</span>
{% elif native_status == "Introduced" %}
<span class="badge text-bg-danger">{{ native_status }}</span>
{% elif native_status == "Unknown" %}
<span class="badge text-bg-warning">{{ native_status }}</span>
{% endif %}
{%- endmacro %}

{% macro icon(icon_name, color=none) -%}
<i class="bi bi-{{ icon_name }}{% if color %} text-{{ color }}{% endif %}"></i>
{%- endmacro %}

{% macro show_germination_item(germination, list) -%}
<{% if list %}li{% else %}div{% endif %} class="d-flex flex-row gap-2 align-items-start mb-3">
        <a href="{{ ("/info/germination#germ-code-" ~ germination.id ) | app_url}}" class="badge text-bg-light border border-light-subtle">{{ germination.code }}</a><span>{{ germination.summary }}</span>
{% if list %}</li>{% else %}</div>{% endif %}
{%- endmacro %}

{% macro show_germination_list(germinations) -%}
{% with uselist = (germinations | count) > 1 %}
{% if uselist %}
    <ul>
{% endif %}
{% for g in germinations %}
{{ show_germination_item(g, uselist) }}
{% endfor %}
{% if uselist %}
    </ul>
{% endif %}
{% endwith %}
{%- endmacro %}

{% macro show_vernacular_item(name, list) -%}
{% if list %}<li>{% else %}<div>{% endif %}
 {{ name }}
{% if list %}</li>{% else %}</div>{% endif %}
{%- endmacro %}

{% macro show_vernacular_list(vernaculars) -%}
{% with uselist = (vernaculars | count) > 1 %}
{% if uselist %}
    <ul>
{% endif %}
{% for name in vernaculars %}
{{ show_vernacular_item(name, uselist) }}
{% endfor %}
{% if uselist %}
    </ul>
{% endif %}
{% endwith %}
{%- endmacro %}

{% macro show_message(message) -%}
    {% if message %}
    <div role="alert" class="mb-3 alert alert-dismissible fade show
        alert-{% if message.type == "Error" %}danger{% elif message.type == "Warning" %}warning{% elif message.type== "Success" %}success{% endif %}">
        {{ message.msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{%- endmacro %}

{% macro sample_form(locations, sample=none, request=none, message=none) -%}
{% if sample %}
<form hx-put="{{ ("/sample/" ~ sample.id) | app_url }}">
{% else %}
<form hx-post="{{ "/sample/new" | app_url }}">
{% endif %}
{{ show_message(message) }}
    <div class="row g-6">
        <div class="mb-3 col-12">
            <label for="SampleTaxonInput" class="form-label">Taxon</label>
            <div class="input-group">
                <input id="SampleTaxonInput"
                       class="form-control"
                       type="text"
                       name="taxon"
                       placeholder="Type to search..."
                       value="{% if request and request.taxon %}{{ request.taxon }}{% elif sample %}{{ sample.taxon.id }}{% endif %}" 
                       list="taxonOptions"
                       autofocus
                       hx-get="{{ "/taxonomy/datalist" | app_url }}"
                       hx-trigger="input changed delay:500ms"
                       hx-target="#taxonOptions">
                <datalist id="taxonOptions">
                </datalist>
                <div class="input-group-text">
                    <input id="SampleUncertaintyInput" type="checkbox" class="form-check-input mt-0" value="true" name="uncertain" {% if sample.certainty == "Uncertain" %}checked{% endif %}>
                    <label for="SampleUncertaintyInput" class="form-check-label">ID is uncertain</label>
                </div>
            </div>
        </div>
        <div class="mb-3 col-12">
            <label for="SampleLocationInput" class="form-label">Location</label>
            <div class="input-group">
                <select id="SampleLocationInput" class="form-select" name="location"
                                                                     hx-trigger="reload-locations from:body"
                                                                     hx-get="{{ "/location/list/options" | app_url }}">
                    <option value="">Choose a location...</option>
                    {% for l in locations %}
                    <option value="{{ l.id }}"
                            {% if request and (request.location == l.id) %}selected{% elif sample and (l.id == sample.location.id) %}selected{% endif %}
                            >{{ l.name }}</option>
                    {% endfor %}
                </select>
                <button type="button"
                        id="AddLocationButton" class="btn btn-outline-secondary"
                                               hx-get="{{ "/location/new/modal" | app_url }}"
                                               hx-target="#ModalContainer"
                                               hx-trigger="click"
                                               data-bs-toggle="modal"
                                               data-bs-target="#ModalContainer">
                    Add new location</button>
            </div>
        </div>
        <div class="mb-3 col-4">
            <label for="SampleMonthInput" class="form-label">Month</label>
            <select id="SampleMonthInput"
                    class="form-control"
                    name="month"
                    >
                    {{ month_options(request.month if request else sample.month if sample) }}
            </select>
        </div>
        <div class="mb-3 col-4">
            <label for="SampleYearInput" class="form-label">Year</label>
            <input id="SampleYearInput"
                   class="form-control"
                   type="number"
                   name="year"
                   value="{% if request %}{{ request.year }}{% elif sample %}{{ sample.year }}{% endif %}"/>
        </div>
        <div class="mb-3 col-4">
            <label for="SampleQuantityInput" class="form-label">Quantity</label>
            <input id="SampleQuantityInput"
                   class="form-control"
                   type="number"
                   name="quantity"
                   value="{% if request %}{{request.quantity }}{% elif sample %}{{ sample.quantity }}{% endif %}"/>
        </div>
        <div class="mb-3 col-12">
            <label for="SampleNotesInput" class="form-label">Notes</label>
            <textarea id="SampleNotesInput"
                      rows="5"
                      class="form-control"
                      name="notes">{% if sample.notes %}{{ sample.notes if sample }}{% endif %}</textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">{% if sample %}Update{% else %}Add{% endif %}</button>
        </div>
        {% if sample %}
        <div class="mb-3">
            <button type="button"
                    class="btn btn-danger"
                    hx-delete="{{ ("/sample/" ~ sample.id) | app_url }}"
                    hx-confirm="Are you sure you want to delete sample {{ sample.id }}?"
                    hx-target="closest form"
                    hx-swap="outerHTML"
                    >Delete</button>
        </div>
        {% endif %}
    </div>
</form>
<div id="ModalContainer"
     class="modal"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{%- endmacro %}

{% macro location_form(id, loc=none, message=none, request=none) -%}
<div id="delete-error-display"></div>
{% if loc %}
<form hx-put="{{ ("/location/" ~ loc.id) | app_url }}" id="{{ id }}">
{% else %}
<form hx-post="{{ "/location/new" | app_url }}" id="{{ id }}">
{% endif %}
    {{ show_message(message) }}
    <div class="row g-6">
        <div class="mb-3 col-12">
            <label class="form-label" for="LocationNameInput">Name</label>
            <input id="LocationNameInput"
                   class="form-control"
                   type="text"
                   name="name"
                   value="{{ request.name or loc.name or "" }}">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label" for="LocationLatitudeInput">Latitude</label>
            <input id="LocationLatitudeInput"
                   class="form-control"
                   type="number"
                   step="any"
                   name="latitude"
                   value="{{ request.latitude or loc.latitude or "" }}">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label" for="LocationLongitudeInput">Longitude</label>
            <input id="LocationLongitudeInput"
                   class="form-control"
                   type="number"
                   step="any"
                   name="longitude"
                   value="{{ request.longitude or loc.longitude or "" }}">
        </div>
        <div class="mb-3 col-12">
            <label class="form-label" for="LocationDescInput">Description</label>
            <textarea id="LocationDescInput"
                      rows="5"
                      class="form-control"
                      name="description">{{ request.description or loc.description or "" }}</textarea>
        </div>
    </div>
    {{ caller() }}
</form>
{%- endmacro %}

{% macro collection_form(id, collection=none, message=none, request=none) -%}
<form 
{% if collection %}
hx-put="{{ ("/collection/" ~ collection.id) | app_url }}"
{% else %}
hx-post="{{ "/collection/new" | app_url }}"
{% endif %}
 hx-swap="outerHTML" id="{{ id }}">
    {{ show_message(message) }}
    <div class="row px-3 mb-3">
        <label class="form-label" for="CollectionNameInput">Name</label>
        <input id="CollectionNameInput"
               form="{{ id }}"
               class="form-control"
               type="text"
               value="{{ request.name or collection.name or "" }}"
               name="name">
    </div>
    <div class="row px-3 mb-3">
        <label class="form-label" for="CollectionDescInput">Description</label>
        <textarea id="CollectionDescInput"
                  form="{{ id }}"
                  class="form-control"
                  name="description">{{ request.description or collection.description or ""}}</textarea>
    </div>
    <div class="row px-3 mb-3">
        <button class="btn btn-primary"
                type="submit">{% if collection %}Update{% else %}Add{% endif %}</button>
    </div>
    {% if collection %}
    <div class="row px-3 mb-3">
        <button type="submit"
                class="btn btn-danger"
                hx-delete="{{ ("/collection/" ~ collection.id) | app_url }}"
                hx-confirm="Are you sure you want to delete collection {{ collection.id }}?"
                hx-target="closest form"
                >Delete</button>
    </div>
    {% endif %}
</form>
{%- endmacro %}


{% macro sample_item(sample) -%}
<div class="d-flex flex-row mb-1">
    <div class="fs-3 align-middle p-1 text-end flex-shrink-0">
        <a class="badge text-bg-light font-monospace"
            href="{{ ("/sample/" ~ sample.id) | app_url}}">S{{ sample.id | idfmt }}</a>
    </div>
    <div class="d-flex flex-column p-1">
        <div>{{ sample.taxon.complete_name }}{% if sample.certainty == "Uncertain" %} (?){% endif %}
        </div>
        <div class="text-secondary">
            <div class="d-flex flex-row flex-wrap column-gap-3">
                {% if sample.year %}<div>{{ sample.year }}</div>{% endif %}
                <div>{{ sample.location.name }}</div>
                {% if sample.notes %}<div class="fst-italic">{{ sample.notes | truncate }}</div>{% endif %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro sample_list(samples, cssid) -%}
<div id="{{ cssid }}">
{% for s in samples %}
{{ sample_item(s) }}
{% endfor %}
</div>
{%- endmacro %}
