{% macro native_status_badge(native_status) -%}
{% if native_status == "Native" %}
<span class="badge text-bg-success">{{ native_status }}</span>
{% elif native_status == "Introduced" %}
<span class="badge text-bg-danger">{{ native_status }}</span>
{% elif native_status == "Unknown" %}
<span class="badge text-bg-warning">{{ native_status }}</span>
{% endif %}
{%- endmacro %}

{% macro icon(icon_name, color=none) -%}
<i class="bi bi-{{ icon_name }}{% if color %} text-{{ color }}{% endif %}"></i>
{%- endmacro %}

{% macro breadcrumbs(elements) %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      {% for elt in elements %}
      {% if elt.active %}
      <li class="breadcrumb-item active" aria-current="page">{{ elt.name }}</li>
      {% else %}
      <li class="breadcrumb-item"><a href="{{ elt.link }}">{{ elt.name }}</a></li>
      {% endif %}
      {% endfor %}
  </ol>
</nav>
{% endmacro %}

{% macro show_germination_item(germination, list) -%}
<{% if list %}li{% else %}div{% endif %} class="d-flex flex-row gap-2 align-items-start mb-3">
        <a href="{{ ("/info/germination#germ-code-" ~ germination.id ) | app_url}}" class="badge text-bg-light border border-light-subtle">{{ germination.code }}</a><span>{{ germination.summary }}</span>
{% if list %}</li>{% else %}</div>{% endif %}
{%- endmacro %}

{% macro show_germination_list(germinations) -%}
{% with uselist = (germinations | count) > 1 %}
{% if uselist %}
    <ul>
{% endif %}
{% for g in germinations %}
{{ show_germination_item(g, uselist) }}
{% endfor %}
{% if uselist %}
    </ul>
{% endif %}
{% endwith %}
{%- endmacro %}

{% macro show_vernacular_item(name, list) -%}
{% if list %}<li>{% else %}<div>{% endif %}
 {{ name }}
{% if list %}</li>{% else %}</div>{% endif %}
{%- endmacro %}

{% macro show_vernacular_list(vernaculars) -%}
{% with uselist = (vernaculars | count) > 1 %}
{% if uselist %}
    <ul>
{% endif %}
{% for name in vernaculars %}
{{ show_vernacular_item(name, uselist) }}
{% endfor %}
{% if uselist %}
    </ul>
{% endif %}
{% endwith %}
{%- endmacro %}

{% macro show_message(message) -%}
    {% if message %}
    <div role="alert" class="mb-3 alert alert-dismissible fade show
        alert-{% if message.type == "Error" %}danger{% elif message.type == "Warning" %}warning{% elif message.type== "Success" %}success{% endif %}">
        {{ message.msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{%- endmacro %}


