{% from "_macros.html" import show_message, icon %}

{% macro project_form(id, project=none, message=none, request=none) -%}
<form 
{% if project %}
hx-put="{{ ("/project/" ~ project.id) | app_url }}"
{% else %}
hx-post="{{ "/project/new" | app_url }}"
{% endif %}
 hx-swap="outerHTML" id="{{ id }}">
    {{ show_message(message) }}
    <div class="row px-3 mb-3">
        <label class="form-label" for="ProjectNameInput">Name</label>
        <input id="ProjectNameInput"
               form="{{ id }}"
               class="form-control"
               type="text"
               value="{{ request.name or project.name or "" }}"
               name="name">
    </div>
    <div class="row px-3 mb-3">
        <label class="form-label" for="ProjectDescInput">Description</label>
        <textarea id="ProjectDescInput"
                  form="{{ id }}"
                  class="form-control"
                  name="description">{{ request.description or project.description or ""}}</textarea>
    </div>
    <div class="d-flex flex-row-reverse column-gap-3">
        <button class="btn btn-primary"
                type="submit">{% if project %}Update{% else %}Add{% endif %}</button>
        {% if project %}
        <button type="submit"
                class="btn btn-danger"
                hx-delete="{{ ("/project/" ~ project.id) | app_url }}"
                hx-confirm="Are you sure you want to delete project {{ project.id }}?"
                hx-target="closest form"
                >Delete</button>
        {% endif %}
    </div>
</form>
{%- endmacro %}


{% macro project_list(filter=false) -%}
<div class="mb-3" id="project-list">
    {% for project in projects %}
    <div class="{{ loop.cycle("bg-body-tertiary", "") }}">
        <div class="d-flex rounded align-items-baseline flex-grow-1 flex-row mb-1 sample-item">
            <div class="p-1 m-1 text-end bg-light text-primary flex-shrink-0 rounded">
                <a class="fw-bold font-monospace"
                   href="{{ ("/project/" ~ project.id) | app_url}}">{{ project.id | idfmt("P") }}</a>
            </div>
            <div class="d-flex flex-column p-1">
                <div>{{ project.name }}
                </div>
                <div class="text-secondary">
                    <div class="d-flex flex-row flex-wrap column-gap-3">
                        {% if project.description %}<div class="fst-italic">{{ project.description | truncate }}</div>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info">
        {% if filter %}
        No projects match your search
        {% else %}
        No projects exist yet. Add one to get started.
        {% endif %}
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro project_sample_list(project) %}
{% from "_macros.html" import icon %}
{% from "_sample_macros.html" import sample_item %}
{% for alloc in project.allocations %}
<div class="project-sample-row {{ loop.cycle("bg-body-tertiary", "") }}">
    {% call sample_item(alloc.sample) %}
    {% if alloc.notes %}
    {% for note in alloc.notes %}
    <div class="flex-shrink-0 badge {{ note.kind | lower }}">
        {{ note.kind }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">{{ icon("three-dots-vertical") }}</button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="{{ ("/project/" ~ project.id ~ "/sample/" ~ alloc.id) | app_url }}"
                   class="dropdown-item">{{ icon("info-circle") }} Details</a>
            </li>
            <li><a href="{{ ("/project/" ~ project.id ~ "/sample/" ~ alloc.id ~ "/note/new") | app_url }}"
                   class="dropdown-item">{{ icon("card-text") }} Add a note</a>
            </li>
            <li><button type="button"
                    class="dropdown-item btn-danger"
                    hx-delete="{{ ("/project/" ~ project.id ~ "/sample/" ~ alloc.id) | app_url }}"
                    hx-target="closest .project-sample-row"
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure you want to remove this sample from the project?">{{ icon("x") }} Remove from project</button>
            </li>
        </ul>
    </div>
    {% endcall %}
</div>
{% else %}
<div class="alert alert-info">
    No samples are a part of this project yet. Add one to get started.
</div>
{% endfor %}
{% endmacro %}

{% macro allocation_note_form(sample, note=none, request=none, message=none) -%}
{% from "_macros.html" import show_message %}
<form hx-{% if note %}put{% else %}post{% endif %}="" hx-swap="outerHTML">
    {{ show_message(message) }}
    <div class="mb-3">
    <label for="SampleNoteSummary" class="form-label">Summary</label>
    <input type="text" id="SampleNoteSummary" name="summary" class="form-control mb-2" value="{{ request.summary or note.summary or "" }}">
    </div>
    <div class="mb-3">
    <label for="SampleNoteDate" class="form-label">Date</label>
    <input type="date"
           id="SampleNoteDate"
           name="date"
           class="form-control mb-2"
           value="{% if request %}{{ request.date | dateformat(format="short")}}{% elif note and note.date %}{{ note.date | dateformat(format="short") }}{% else %}{{ now() |dateformat(format="short") }}{% endif %}">
    </div>
    <div class="mb-3">
     <label for="SampleNoteType" class="form-label">Note Type</label>
     <select id="SampleNoteType" name="notetype" class="form-select mb-2">
         <option value="">Select a type...</option>
         {% for t in note_types %}
         <option value="{{ t }}" {% if (request and (request.notetype == t)) %}selected{% elif (note and (note.kind == t)) %}selected{% endif %}>{{ t }}</option>
         {% endfor %}
     </select>
    </div>
    <div class="mb-3">
     <label for="SampleNoteDetails" class="form-label">Details</label>
     <textarea id="SampleNoteDetails" rows="5" name="details" class="form-control mb-2">{{ (request.details or "") if request else note.details or "" }}</textarea>
    </div>
     <div class="d-flex flex-row-reverse">
         {% if note %}
         <button class="btn btn-primary" type="submit">Update</button>
         {% else %}
         <button class="btn btn-primary" type="submit">Add</button>
         {% endif %}
     </div>
</form>
{%- endmacro %}

{% macro project_add_sample(project, samples, messages=none) %}
{% from "_macros.html" import show_message %}
{% if samples %}
<form id="project-add-form"
    hx-post="{{ ("/project/" ~ project.id ~ "/add") | app_url }}">
    {% for msg in messages %}
    {{ show_message(msg) }}
    {% endfor %}
    <div>
        {% for sample in samples %}
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   name="sample"
                   value="{{sample.id}}"
                   id="sample-{{sample.id}}">
            <label class="form-check-label" for="sample-{{sample.id}}">
                <span class="font-monospace">{{ sample.id | idfmt("S") }}</span>: <b>{{ sample.taxon.complete_name }}</b>
                <span class="text-body-tertiary">
                from {{ sample.source.name }}
                {% if sample.year %}
                ({{ sample.year }})
                {% endif %}
                {% if sample.notes %}
                - {{ sample.notes | markdown }}
                {% endif %}
                </span>
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="row mb-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
{% else %}
<div class="alert alert-warning">No samples available to add. 
    <a href="{{ "/sample/new" | app_url }}">Add a new sample to the database first</a>.
</div>
{% endif %}
{% endmacro %}
