{% from "_macros.html" import icon, show_message %}

{% macro month_options(selected) -%}
<option value="">Choose a month...</option>
<option value="1" {% if selected == 1 %}selected{% endif %}>January</option>
<option value="2" {% if selected == 2 %}selected{% endif %}>February</option>
<option value="3" {% if selected == 3 %}selected{% endif %}>March</option>
<option value="4" {% if selected == 4 %}selected{% endif %}>April</option>
<option value="5" {% if selected == 5 %}selected{% endif %}>May</option>
<option value="6" {% if selected == 6 %}selected{% endif %}>June</option>
<option value="7" {% if selected == 7 %}selected{% endif %}>July</option>
<option value="8" {% if selected == 8 %}selected{% endif %}>August</option>
<option value="9" {% if selected == 9 %}selected{% endif %}>September</option>
<option value="10" {% if selected == 10 %}selected{% endif %}>October</option>
<option value="11" {% if selected == 11 %}selected{% endif %}>November</option>
<option value="12" {% if selected == 12 %}selected{% endif %}>December</option>
{%- endmacro %}


{% macro sample_form(sources, sample=none, request=none, message=none) -%}
{% if sample %}
<form hx-put="{{ ("/sample/" ~ sample.id) | app_url }}">
{% else %}
<form hx-post="{{ "/sample/new" | app_url }}">
{% endif %}
{{ show_message(message) }}
    <div class="row g-6">
        <div class="mb-3 col-12">
            <label for="SampleTaxonInput" class="form-label">Taxon</label>
            <div class="input-group">
                <input id="SampleTaxonInput"
                       class="form-control"
                       type="text"
                       name="taxon"
                       placeholder="Type to search..."
                       value="{% if request and request.taxon %}{{ request.taxon }}{% elif sample %}{{ sample.taxon.id }}{% endif %}" 
                       list="taxonOptions"
                       autofocus
                       hx-get="{{ "/taxonomy/datalist" | app_url }}"
                       hx-trigger="input changed delay:500ms"
                       hx-target="#taxonOptions">
                <datalist id="taxonOptions">
                </datalist>
                <div class="input-group-text">
                    <input id="SampleUncertaintyInput" type="checkbox" class="form-check-input mt-0" value="true" name="uncertain" {% if sample.certainty == "Uncertain" %}checked{% endif %}>
                    <label for="SampleUncertaintyInput" class="form-check-label">ID is uncertain</label>
                </div>
            </div>
        </div>
    <div class="row g-6">
    </div>
        <div class="mb-3 col-12">
            <label for="SampleSourceInput" class="form-label">Source</label>
            <div class="input-group">
                <select id="SampleSourceInput" class="form-select" name="source"
                                                                   hx-trigger="reload-sources from:body"
                                                                   hx-get="{{ "/source/list/options" | app_url }}">
                    <option value="">Choose a source...</option>
                    {% for src in sources %}
                    <option value="{{ src.id }}"
                            {% if request and (request.source == src.id) %}selected{% elif sample and (src.id == sample.source.id) %}selected{% endif %}
                            >{{ src.name }}</option>
                    {% endfor %}
                </select>
                <button type="button"
                        id="AddSourceButton" class="btn btn-outline-secondary"
                                               hx-get="{{ "/source/new/modal" | app_url }}"
                                               hx-target="#ModalContainer"
                                               hx-trigger="click"
                                               data-bs-toggle="modal"
                                               data-bs-target="#ModalContainer">
                    Add new source</button>
            </div>
        </div>
    <div class="row g-6">
    </div>
        <div class="mb-3 col-4">
            <label for="SampleMonthInput" class="form-label">Month</label>
            <select id="SampleMonthInput"
                    class="form-control"
                    name="month">
                {% if request %}{{ month_options(request.month) }}
                {% elif sample %}{{ month_options(sample.month) }}
                {% else %}{{ month_options((now() | datetimeformat(format="[month padding:none]"))|int) }}
                {% endif %}
            </select>
        </div>
        <div class="mb-3 col-4">
            <label for="SampleYearInput" class="form-label">Year</label>
            <input id="SampleYearInput"
                   class="form-control"
                   type="number"
                   name="year"
                   value="{% if request %}{{ request.year }}{% elif sample %}{{ sample.year }}{% else %}{{ now()|datetimeformat(format="[year]") }}{% endif %}"/>
        </div>
        <div class="mb-3 col-4">
            <label for="SampleQuantityInput" class="form-label">Quantity (grams)</label>
            <input id="SampleQuantityInput"
                   class="form-control"
                   type="number"
                   step="0.01"
                   name="quantity"
                   value="{% if request %}{{request.quantity }}{% elif sample %}{{ sample.quantity }}{% endif %}"/>
        </div>
    </div>
    <div class="row g-6">
        <div class="mb-3 col-12">
            <label for="SampleNotesInput" class="form-label">Notes</label>
            <textarea id="SampleNotesInput"
                      rows="5"
                      class="form-control"
                      name="notes">{% if sample.notes %}{{ sample.notes if sample }}{% endif %}</textarea>
        </div>
    </div>
    <div class="row g-6 justify-content-end">
        <div class="d-flex flex-row-reverse column-gap-3">
            <button type="submit" class="btn btn-primary px-3">{% if sample %}Update{% else %}Add{% endif %}</button>
            {% if sample %}
            <button type="button"
                    class="btn btn-danger px-3"
                    hx-delete="{{ ("/sample/" ~ sample.id) | app_url }}"
                    hx-confirm="Are you sure you want to delete sample {{ sample.id }}?"
                    hx-target="closest form"
                    hx-swap="outerHTML"
                    >Delete</button>
            {% endif %}
        </div>
    </div>
</form>
<div id="ModalContainer"
     class="modal"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{%- endmacro %}


{% macro sample_item(sample) %}
<div class="d-flex rounded align-items-baseline flex-grow-1 flex-row mb-1 sample-item">
    <div class="p-1 m-1 text-end bg-light text-primary flex-shrink-0 rounded">
        <a class="fw-bold font-monospace"
            href="{{ ("/sample/" ~ sample.id) | app_url}}">{{ sample.id | idfmt("S") }}</a>
    </div>
    <div class="flex-grow-1 flex-row flex-wrap{% if sample.quantity == 0%} opacity-50{% endif %}">
        <span class="fw-bold">{{ sample.taxon.complete_name }}{% if sample.certainty == "Uncertain" %} (?){% endif %}</span>
        {% if sample.quantity %}<span class="text-body-tertiary ms-3">{{ sample.quantity }}g</span>{% endif %}
        <span class="text-body-tertiary ms-3">{{ icon("geo-alt") }} {{ sample.source.name | truncate(30) }}</span>
        {% if sample.year %}<span class="text-body-tertiary ms-3">{{ icon("calendar3") }} {{ sample.year }}</span>{% endif %}
        {% if sample.notes %}<span class="text-body-tertiary fst-italic ms-3">{{ icon("journal-text") }} {{ sample.notes | truncate(30) }}</span>{% endif %}
    </div>
    {{ caller() if caller }}
</div>
{% endmacro %}


{% macro sample_list(samples, cssid) -%}
<div id="{{ cssid }}">
{% for s in samples %}
<div class="{{ loop.cycle("bg-body-tertiary", "") }}">
{{ sample_item(s) }}
</div>
{% else %}
<div class="alert alert-info">
    No samples exist yet. Create one to get started.
</div>
{% endfor %}
</div>
{%- endmacro %}
