{% from "_macros.html.j2" import flash_message %}

{% macro source_form(id, source=none, message=none, request=none, modal=false) -%}
<div id="delete-error-display"></div>
{% if source %}
<form hx-put="{{ ("/source/" ~ source.id) | app_url }}" id="{{ id }}">
{% else %}
<form hx-post="{{ "/source/new" | app_url }}" id="{{ id }}">
{% endif %}
    {{ flash_message(message) }}
    <div class="row g-6 mb-3">
        <div class="col-12">
            <label class="form-label" for="SourceNameInput">Name</label>
            <input id="SourceNameInput"
                   class="form-control"
                   type="text"
                   name="name"
                   value="{{ request.name or source.name or "" }}">
        </div>
    </div>
    <div class="row g-6 mb-3">
        <div class="col-6">
            <label class="form-label" for="SourceLatitudeInput">Latitude</label>
            <input id="SourceLatitudeInput"
                   class="form-control"
                   type="number"
                   step="any"
                   name="latitude"
                   value="{{ request.latitude or source.latitude or "" }}">
        </div>
        <div class="col-6">
            <label class="form-label" for="SourceLongitudeInput">Longitude</label>
            <input id="SourceLongitudeInput"
                   class="form-control"
                   type="number"
                   step="any"
                   name="longitude"
                   value="{{ request.longitude or source.longitude or "" }}">
        </div>
    </div>
    <div id="location-chooser" class="row g-6 mb-3" style="height: 320px"></div>
    <script>
    {% if source and (source.latitude and source.longitude) %}
    var loc = [{{ source.latitude }}, {{ source.longitude }}];
    var map = L.map("location-chooser").setView(loc, 13);
    var marker = L.marker(loc).addTo(map);

    {% else %}

    var map = L.map("location-chooser").fitWorld();
    var marker = null;
    {% endif %}

    var latInput = document.getElementById('SourceLatitudeInput');
    var lngInput = document.getElementById('SourceLongitudeInput');

    function setMarker(latlng) {
        if (!marker) {
            marker = L.marker(latlng);
        }
        marker.addTo(map);
        marker.setLatLng(latlng);
    }

    function removeMarker() {
        if (marker) {
            marker.remove();
        }
    }
    function updateMapFromForm() {
        var lat = parseFloat(latInput.value);
        var lng = parseFloat(lngInput.value);

        if (isNaN(lat) || isNaN(lng)) {
            removeMarker();
        } else {
            var latlng = [latInput.value, lngInput.value];
            map.panTo(latlng);
            setMarker(latlng)
        }
    }
    latInput.addEventListener("change", function(event) { updateMapFromForm() });
    lngInput.addEventListener("change", function(event) { updateMapFromForm() });

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    const search = new GeoSearch.GeoSearchControl({
        provider: new GeoSearch.OpenStreetMapProvider(),
        showMarker: false,
        showPopup: false,
    });
    map.addControl(search);
    L.control.locate().addTo(map);
    map.on('click', function(e) {
        setMarker(e.latlng);
        var loc = e.latlng.wrap()
        const digits = 100000;
        latInput.value = Math.round(loc.lat * digits) / digits;
        lngInput.value = Math.round(loc.lng * digits) / digits;
    })
    </script>
    <div class="row g-6 mb-3">
        <div class="col-12">
            <label class="form-label" for="SourceDescInput">Description</label>
            <textarea id="SourceDescInput"
                      rows="5"
                      class="form-control"
                      name="description">{{ request.description or source.description or "" }}</textarea>
        </div>
    </div>
    {% if modal %}
    <input name="modal" value="1" type="hidden">
    {% else %}
    <div class="d-flex flex-row-reverse column-gap-3">
        {% if source %}
        <button type="submit" name="submit" class="btn btn-primary">Update</button>
        <button type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#DeleteModalContainer">Delete</button>
                <!-- Modal delete confirmation dialog  -->
                <div id="DeleteModalContainer" class="modal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Delete Source</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Are you sure you want to delete this source?</p>
                            <div class="text-secondary m-3">
                                <div>ID: {{ source.id }}</div>
                                <div>Name: {{ source.name }}</div>
                                <div>Description: {{ source.description }}</div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button"
                                    class="btn btn-danger px-3"
                                    hx-delete="{{ ("/source/" ~ source.id) | app_url }}"
                                    hx-target="closest form"
                                    hx-swap="outerHTML"
                                    data-bs-dismiss="modal">Delete</button>
                          </div>
                        </div>
                    </div>
                </div>
        {% else %}
        <button class="btn btn-primary px-3"
                type="submit">Add</button>
        {% endif %}
    </div>
    {% endif %}
</form>
{%- endmacro %}


{% macro source_list(filter=false) -%}
{% for src in sources %}
<div class="{{ loop.cycle("bg-body-tertiary", "") }}">
    <div class="d-flex rounded align-items-baseline flex-grow-1 flex-row mb-1 sample-item">
        <div class="p-1 m-1 text-end bg-light text-primary flex-shrink-0 rounded">
            <a class="fw-bold font-monospace"
               href="{{ ("/source/" ~ src.id) | app_url}}">{{ src.id | idfmt("L") }}</a>
        </div>
        <div class="d-flex flex-column p-1">
            <div>{{ src.name |truncate(length=100) }}
            </div>
            <div class="text-secondary">
                <div class="d-flex flex-row flex-wrap column-gap-3">
                    {% if src.description %}<div class="fst-italic">{{ src.description | truncate(length=100) }}</div>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info">
    {% if filter %}
    No sources exist yet. Create one to get started.
    {% else %}
    No sources match your search
    {% endif %}
</div>
{% endfor %}
{%- endmacro %}
