{% from "_macros.html.j2" import show_message %}
{% extends "root.html.j2" %}
{% block title %}Verify email address{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div style="max-width: 500px">
        <h2 class="text-center">{{ self.title() }}</h2>
        {{ show_message(message) }}
        <form hx-post=""
              hx-target="#verify-info-box"
              hx-swap="outerHTML">
            <button type="submit"
                    class="btn btn-primary">Verify</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
