{% extends "root.html.j2" %}
{% from "_auth_macros.html.j2" import register_form %}
{% block title %}Register a new user account{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div style="max-width: 500px">
        <h2>{{ self.title() }}</h2>
        {{ register_form(username, email_address, messages) }}
    </div>
</div>
{% endblock %}
