{% extends "root.html" %}
{% block title %}Verify email address{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div style="max-width: 500px">
        <h2 class="text-center">{{ self.title() }}</h2>
        {% if code_expired %}
        <div class="alert text-bg-danger">
            This verification code has expired. Visit your
            <a href="{{ "/user/me" | app_url }}">user profile</a> to request a
            new verification code to be emailed to you.
        </div>
        {% else if code_not_found %}
        <div id="verify-info-box"
            class="alert text-bg-warning">
            The verification code you provided could not be found. Check your
            verification email and make sure that the link you clicked was not
            corrupted in some way. Visit your
            <a href="{{ "/user/me" | app_url }}">user profile</a> to request a
            new verification code to be emailed to you.
        </div>
        {% else if already_verified %}
        <div id="verify-info-box"
            class="alert text-bg-info">
            This email address has already been verified.
        </div>
        {% else %}
        <div id="verify-info-box"
            class="alert text-bg-info">
            Verification of your email address is required in order to perform
            some actions on this website. Click below to verify your email
            address.
        </div>
        <form hx-post="{{ "/auth/verify" | app_url }}"
              hx-target="#verify-info-box"
              hx-swap="outerHTML">
            <button type="submit"
                    class="btn btn-primary">Verify</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
