{% extends "root.html" %}
{% from "_collection_macros.html" import icon, collection_list %}
{% block title %}Collections{% endblock %}
{% block content %}
<h2><span class="me-2">{{ icon("collection") }}</span>Collections <a class="ms-2" href="{{ "/collection/new" | app_url }}">{{ icon("plus-square") }}</a></h2>
    <div class="mb-3">
    <form 
         hx-swap="outerHTML"
         hx-target="#collection-list"
         hx-get="{{ "/collection/filter" | app_url }}"
         hx-trigger="submit, input changed delay:500ms from:input">
        <input type="text"
               class="form-control"
               autofocus
               placeholder="Filter list..."
               name="fragment">
    </form>
    </div>
    {{ collection_list() }}
{% endblock %}
