{% from "_collection_macros.html" import project_form %}
{% from "_macros.html" import breadcrumbs %}
{% extends "root.html" %}
{% block title %}Project {{ project.id }}{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Projects", "link": ("/collection/list" | app_url) },
{"name": project.id | idfmt("C"), "link": ("/collection/" ~ project.id) | app_url },
{"name": "Edit", "active": true }]) }}
<h2>Project Details</h2>
{{ project_form("project-form", project, messages, request) }}
{% endblock %}
