{% extends "root.html" %}
{% from "_macros.html" import breadcrumbs %}
{% from "_collection_macros.html" import allocation_note_form %}
{% block title %}Edit note {{ note.id }}{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Projects", "link": ("/collection/list" | app_url) },
{"name": allocation.project.id | idfmt("C"), "link": ("/collection/" ~ allocation.project.id) | app_url },
{"name": allocation.sample.id | idfmt("S"), "link": ("/collection/" ~ allocation.project.id ~ "/sample/" ~ allocation.id) | app_url },
{"name": "Add Note", "active": true },
]) }}
<h2>{{ self.title() }}</h2>
<div>Sample {{ allocation.sample.id | idfmt("S") }}: {{ allocation.sample.taxon.complete_name }}</div>
<div>Project {{ allocation.project.id | idfmt("C") }}: {{ allocation.project.name }}</div>
{{ allocation_note_form(allocation, note=note, request=request, message=message) }}
{% endblock %}

