{% extends "root.html" %}
{% from "_macros.html" import breadcrumbs %}
{% block title %}Collection Sample Details{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Collections", "link": ("/collection/list" | app_url) },
{"name": sample.collection.id | idfmt("C"), "link": ("/collection/" ~ sample.collection.id) | app_url },
{"name": sample.sample.id | idfmt("S"), "active": true },
]) }}

<h4>Notes</h4>
{% for note in sample.notes %}
<div class="d-flex column-gap-3">
    <div class="">
        <span class="badge {{ note.kind | lower }}">{{ note.kind }}</span>
    </div>
    <div class="flex-shrink-0">
        {{ note.summary }}
    </div>
    <div class="flex-shrink-0">
        {{ icon("calendar") }}
        {{ note.date | dateformat(format="short") }}
    </div>
</div>
<div class="text-body-tertiary">
    {{ note.details or "" }}
</div>
{% endfor %}
{% endblock %}
