{% extends "root.html" %}
{% block title %}Collection Sample Details{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ ("/collection/" ~ sample.collection.id) | app_url }}">{{ sample.collection.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ sample.sample.id | idfmt("S") }} {{ sample.sample.taxon.complete_name }}</li>
  </ol>
</nav>

<h4>Notes</h4>
{% for note in sample.notes %}
<div class="d-flex column-gap-3">
    <div class="">
        <span class="badge {{ note.kind | lower }}">{{ note.kind }}</span>
    </div>
    <div class="flex-shrink-0">
        {{ note.summary }}
    </div>
    <div class="flex-shrink-0">
        {{ icon("calendar") }}
        {{ note.date | dateformat(format="short") }}
    </div>
</div>
<div class="text-body-tertiary">
    {{ note.details or "" }}
</div>
{% endfor %}
{% endblock %}
