{% extends "root.html" %}
{% from "_macros.html" import icon %}
{% from "_collection_macros.html" import collection_sample_list %}
{% block title %}{{ collection.name or "Collection Details" }}{% endblock %}
{% block content %}
<h2>{{ self.title() }} <a href="{{ ("/collection/" ~ collection.id ~ "/edit") | app_url }}">{{ icon("pencil") }}</a></h2>
<p>{{ collection.description }}</p>
<h3>Samples in this collection <a class="ms-2" href="{{ ("/collection/" ~ collection.id) | app_url }}/add">{{ icon("plus-square") }}</a></h3>
    <div class="mb-3">
    <form
           hx-target="#collection-sample-list"
           hx-get="{{ ("/collection/" ~ collection.id ~ "/filter") | app_url }}"
           hx-trigger="submit, input changed delay:500ms from:input">
    <input type="text"
           class="form-control"
           placeholder="Filter list..."
           name="fragment">
    </form>
    </div>
<div id="collection-sample-list">
    {{ collection_sample_list(collection) }}
</div>
{% endblock %}
