{% from "_collection_macros.html" import collection_form %}
{% from "_macros.html" import breadcrumbs %}
{% extends "root.html" %}
{% block title %}Project {{ collection.id }}{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Projects", "link": ("/collection/list" | app_url) },
{"name": collection.id | idfmt("C"), "link": ("/collection/" ~ collection.id) | app_url },
{"name": "Edit", "active": true }]) }}
<h2>Project Details</h2>
{{ collection_form("collection-form", collection, messages, request) }}
{% endblock %}
