{% extends "root.html" %}
{% block title %}Add a new note to sample {{ sample.id }}{% endblock %}
{% block content %}
<h2>{{ self.title() }}</h2>
<p>A new note associated with sample {{ sample.id }}</p>
<form hx-post="">
     <label for="SampleNoteSummary" class="form-label">Summary</label>
     <input type="text" id="SampleNoteSummary" name="summary" class="form-control mb-2">
     <label for="SampleNoteDate" class="form-label">Date</label>
     <input type="date" id="SampleNoteDate" name="date" class="form-control mb-2">
     <label for="SampleNoteType" class="form-label">Note Type</label>
     <select id="SampleNoteType" name="notetype" class="form-select mb-2">
         {% for t in note_types %}
         <option>{{ t }}</option>
         {% endfor %}
     </select>
     <label for="SampleNoteDetails" class="form-label">Details</label>
     <textarea id="SampleNoteDetails" rows="5" name="details" class="form-control mb-2"></textarea>
     <button class="btn btn-primary" type="submit">Add</button>
</form>
{% endblock %}

