{% from "_location_macros.html" import location_form %}
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">New Location</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% call location_form("new-location-modal-form") %}
        <input name="modal" value="1" type="hidden">
        {% endcall %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <input id="AddLocationSubmit" type="submit" class="btn btn-primary" data-bs-dismiss="modal"
          form="new-location-modal-form" value="Add">
    </div>
  </div>
</div>
