{% from "_macros.html" import icon %}
{% from "_location_macros.html" import location_list %}
{% extends "root.html" %}
{% block title %}Location List{% endblock %}
{% block content %}
<h2><span class="me-2">{{ icon("geo-alt") }}</span>Locations <a class="ms-2" href="{{ "/location/new" | app_url }}">{{ icon("plus-square") }}</a></h2>
    <div class="mb-3">
    <form 
           hx-target="#location-list"
           hx-get="{{ "/location/filter" | app_url }}"
           hx-trigger="submit, input changed delay:500ms from:input">
    <input type="text"
           class="form-control"
           placeholder="Filter list..."
           name="fragment">
    </form>
    </div>
<div class="mb-3" id="location-list">
    {{ location_list() }}
</div>
{% endblock %}
