{% extends "root.html" %}
{% from "_macros.html" import icon %}
{% from "_macros.html" import sample_list %}
{% block title %}{{ location.name or "Location Details" }} Details{% endblock %}
{% block content %}
<h2>{{ self.title() }} <a href="{{ ("/location/" ~ location.id ~ "/edit") | app_url }}">{{ icon("pencil") }}</a></h2>
<p>{{ location.description }}</p>
{%if map_viewer %}
<iframe class="mb-3" width="500", height="300" src="{{ map_viewer }}"></iframe>
{% endif %}
<h3>{{ samples | count }} Samples from this location</h3>
{{ sample_list(samples, "sample-list") }}
{% endblock %}
