{% extends "root.html.j2" %}
{% from "_macros.html.j2" import breadcrumbs, icon, show_vernacular_list, show_germination_list %}
{% block title %}Allocated Sample Details{% endblock %}
{% block content %}
{% with sample = allocation.sample %}
{{ breadcrumbs([
{"name": "Home", "link": (app_prefix ~ "/") },
{"name": "Projects", "link": (app_prefix ~ "/project/list") },
{"name": project.id | idfmt("P"), "link": (app_prefix ~ "/project/" ~ project.id) },
{"name": sample.id | idfmt("S"), "active": true },
]) }}

<h2><b>{{ sample.taxon.complete_name }}</b> <span class="text-body-tertiary">{{ project.name }}</span></h2>
<h5>Common Names</h5>
<div class="mb-3 px-2">
    {% if sample.taxon.vernaculars %}
    {{ show_vernacular_list(sample.taxon.vernaculars) }}
    {% else %}
    None
    {% endif %}
</div>
<h5>Source</h5>
<div class="mb-3 px-2"><a href="{{app_prefix}}/source/{{sample.source.id}}">{{ sample.source.name }}</a></div>
<h5>Collection Date</h5>
<div class="mb-3 px-2">{% if sample.month %}{{ sample.month }}/{% endif %}{{ sample.year }}</div>
<h5>Germination Info</h5>
<div class="mb-3 px-2">
    {% if sample.taxon.germination %}
    {{ show_germination_list(sample.taxon.germination) }}
    {% else %}
    <div>No Data</div>
    {% endif %}
</div>
<h5 class="border-bottom">Project Journal <a class="ms-2" href="{{app_prefix}}/project/{{project.id}}/sample/{{allocation.id}}/note/new">{{ icon("plus-square") }}</a></h5>
{% for note in allocation.notes %}
<div class="d-flex column-gap-2 mb-2 allocation-note-row p-2 {{ loop.cycle(" bg-body-tertiary", "") }}">
    <div class="d-flex flex-column flex-grow-1">
        <h6 class="d-flex flex-row column-gap-2">
            <div class="flex-grow-1">
                {{ note.summary }}
            </div>
            <div class="flex-shrink-0 text-body-tertiary">
                {{ note.date | dateformat(format="short") }}
            </div>
            <div>
                <span class="badge {{ note.kind | lower }}">{{ note.kind }}</span>
            </div>
        </h6>
        <div class="text-body-tertiary">
            {{ note.details or "" }}
        </div>
    </div>
    <div class="dropdown flex-shrink-1 ms-auto">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">{{ icon("three-dots-vertical") }}</button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="{{app_prefix}}/project/{{project.id}}/sample/{{allocation.id}}/note/{{note.id}}/edit"
                   class="dropdown-item">{{ icon("pencil") }} Edit</a>
            </li>
            <li><button type="button"
                    class="dropdown-item btn-danger"
                    hx-delete="{{app_prefix}}/project/{{project.id}}/sample/{{allocation.id}}/note/{{note.id}}"
                    hx-target="closest .allocation-note-row"
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure you want to remove this note?">{{ icon("x") }} Remove note</button>
            </li>
        </ul>
    </div>
</div>
{% else %}
<div>No notes yet</div>
{% endfor %}
{% endwith %}
{% endblock %}
