{% from "_macros.html.j2" import icon, breadcrumbs, filter_sort_widget, pagination %}
{% from "_project_macros.html.j2" import project_sample_list %}

{% if not filteronly %}
{% extends "root.html.j2" %}
{% block title %}{{ project.name or "Project Details" }}{% endblock %}
{% block content %}
    {{ breadcrumbs([
        {"name": "Home", "link": ("/" | app_url) },
        {"name": "Projects", "link": ("/project/list" | app_url) },
        {"name": project.id | idfmt("P"), "active": true },
        ])
    }}
    <h2>{{ self.title() }} <a href="{{ ("/project/" ~ project.id ~ "/edit") | app_url }}">{{ icon("pencil") }}</a></h2>
    {{ project.description | markdown }}
    <h3>Samples in this project <a class="ms-2" href="{{ ("/project/" ~ project.id) | app_url }}/add">{{ icon("plus-square") }}</a></h3>
    {{ filter_sort_widget(("/project/" ~ project.id) | app_url, "#project-sample-list", options, query) }}
    <div id="flash-messages"></div>
        {{ project_sample_list("project-sample-list", project, summary, request_uri) }}
{% endblock %}
{% else %}
{{ project_sample_list("project-sample-list", project, summary, request_uri) }}
{% endif %}

