{% from "_macros.html.j2" import icon, breadcrumbs, filter_sort_widget, pagination %}
{% from "_project_macros.html.j2" import project_sample_list %}

{% if not filteronly %}
{% extends "root.html.j2" %}
{% block title %}{{ project.name or "Project Details" }}{% endblock %}
{% block content %}
    {{ breadcrumbs([
        {"name": "Home", "link": (app_prefix ~ "/" ) },
        {"name": "Projects", "link": (app_prefix ~ "/project/list" ) },
        {"name": project.id | idfmt("P"), "active": true },
        ])
    }}
    <h2>{{ self.title() }} <a href="{{app_prefix}}/project/{{project.id}}/edit">{{ icon("pencil") }}</a></h2>
    {{ project.description | markdown }}
    <h3>Samples in this project <a class="ms-2" href="{{app_prefix}}/project/{{project.id}}/add">{{ icon("plus-square") }}</a></h3>
    {{ filter_sort_widget((app_prefix ~ "/project/" ~ project.id), "#project-sample-list", filter_spec) }}
    <div id="flash-messages"></div>
    <div
        hx-trigger="reload-project-allocations from:body"
        hx-get
        hx-swap="innerHTML"
        hx-target="#project-sample-list">
    <div id="project-sample-list">
    <div class="text-body-tertiary">{{ summary.total_items }} items found </div>
    {{ project_sample_list(project) }}
    {{ pagination(summary.npages, summary.page, request_uri)}}
    </div>
{% endblock %}
{% else %}
<div class="text-body-tertiary">{{ summary.total_items }} items found </div>
{{ project_sample_list(project) }}
{{ pagination(summary.npages, summary.page, request_uri)}}
{% endif %}

