{% from "_project_macros.html.j2" import project_form %}
{% from "_macros.html.j2" import breadcrumbs %}
{% extends "root.html.j2" %}
{% block title %}Project {{ project.id }}{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Projects", "link": ("/project/list" | app_url) },
{"name": project.id | idfmt("P"), "link": ("/project/" ~ project.id) | app_url },
{"name": "Edit", "active": true }]) }}
<h2>Project Details</h2>
{{ project_form("project-form", project, messages, request) }}
{% endblock %}
