{% macro show_samples(samples) %}
{% from "_macros.html.j2" import icon, breadcrumbs, filter_sort_widget %}
{% for sample in samples %}
<div class="{{ loop.cycle("bg-body-tertiary", "") }} p-2">
    <div class="flex-grow-1 flex-row flex-wrap{% if sample.quantity == 0%} opacity-50{% endif %}">
        <input class="form-check-input"
               type="checkbox"
               name="sample"
               value="{{sample.id}}"
               id="sample-{{sample.id}}">
        <label class="form-check-label ms-2" for="sample-{{sample.id}}">
        <span class="fw-bold">{{ sample.taxon.complete_name }}{% if sample.certainty == "Uncertain" %} (?){% endif %}</span>
        {% if sample.quantity %}<span class="text-body-tertiary ms-3">{{ sample.quantity }}g</span>{% endif %}
        <span class="text-body-tertiary ms-3">{{ icon("geo-alt") }} {{ sample.source.name | truncate(length=30) }}</span>
        {% if sample.year %}<span class="text-body-tertiary ms-3">{{ icon("calendar3") }} {{ sample.year }}</span>{% endif %}
        {% if sample.notes %}<span class="text-body-tertiary fst-italic ms-3">{{ icon("journal-text") }} {{ sample.notes | truncate(length=30) }}</span>{% endif %}
        </label>
    </div>
</div>
{% endfor %}
{% endmacro %}


{% if refresh_samples %}

  {{ show_samples(samples) }}

{% else %}

{% extends "root.html.j2" %}
{% from "_macros.html.j2" import icon, breadcrumbs, filter_sort_widget %}
{% block title %}Add Samples to Project{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": (app_prefix ~ "/") },
{"name": "Projects", "link": (app_prefix ~ "/project/list") },
{"name": project.id | idfmt("P"), "link": (app_prefix ~ "/project/" ~ project.id) },
{"name": "Add Samples", "active": true }]) }}
<h2>{{ self.title() }}</h2>
<p>Choose samples to add to the project <i>{{ project.name }}</i></p>
{{ filter_sort_widget((app_prefix ~ "/project/" ~ project.id ~ "/add"), "#sample-list", filter_spec)}}
{% if samples %}
<form id="project-add-form"
    hx-post="{{app_prefix}}/project/{{project.id}}/add"
    hx-swap="none">
    <div id="sample-list"
    hx-trigger="reload-samples from:body"
    hx-get
    hx-swap="innerHTML"
    class="mb-3"
    >
      {{ show_samples(samples) }}
    </div>
    <div class="row sticky-bottom p-3">
        <div id="flash-messages" class="sticky-top"></div>
        <button type="submit" class="btn btn-primary">Add samples</button>
    </div>
</form>
{% else %}
<div class="alert alert-warning">No samples available to add. 
    <a href="{{app_prefix}}sample/new">Add a new sample to the database first</a>.
</div>
{% endif %}
{% endblock %}
{% endif %}
