{% from "_project_macros.html" import icon, project_list %}
{% if not filteronly %}
{% extends "root.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<h2><span class="me-2">{{ icon("collection") }}</span>Projects <a class="ms-2" href="{{ "/project/new" | app_url }}">{{ icon("plus-square") }}</a></h2>
    <div class="mb-3">
    <form 
         method="GET"
         action="{{ "/project/list" | app_url }}"
         hx-push-url="true"
         hx-boost="true"
         hx-swap="outerHTML"
         hx-target="#project-list"
         hx-get="{{ "/project/list" | app_url }}"
         hx-trigger="submit, input changed delay:500ms from:input">
        <input type="text"
               class="form-control"
               autofocus
               placeholder="Filter list..."
               name="filter">
    </form>
    </div>
    {{ project_list() }}
{% endblock %}
{% else %}
    {{ project_list() }}
{% endif %}
