{% from "_project_macros.html.j2" import project_form %}
{% from "_macros.html.j2" import breadcrumbs %}
{% extends "root.html.j2" %}
{% block title %}Project {{ project.id }}{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": (app_prefix ~ "/") },
{"name": "Projects", "link": (app_prefix ~ "/project/list") },
{"name": project.id | idfmt("P"), "link": (app_prefix ~ "/project/" ~ project.id) },
{"name": "Edit", "active": true }]) }}
<h2>Project Details</h2>
{{ project_form("project-form", project, messages, request) }}
{% endblock %}
