{% from "_project_macros.html" import project_sample_list %}
{% macro option(value, name, selected) -%}
<option value="{{ value }}" {% if selected == value %}selected{% endif %}>{{ name }}</option>
{%- endmacro %}
{% if not filteronly %}
{% extends "root.html" %}
{% from "_macros.html" import icon, breadcrumbs, filter_sort_widget %}
{% block title %}{{ project.name or "Project Details" }}{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Projects", "link": ("/project/list" | app_url) },
{"name": project.id | idfmt("P"), "active": true },
]) }}
<h2>{{ self.title() }} <a href="{{ ("/project/" ~ project.id ~ "/edit") | app_url }}">{{ icon("pencil") }}</a></h2>
<p>{{ project.description | markdown }}</p>
<h3>Samples in this project <a class="ms-2" href="{{ ("/project/" ~ project.id) | app_url }}/add">{{ icon("plus-square") }}</a></h3>
{{ filter_sort_widget(("/project/" ~ project.id) | app_url, "#project-sample-list", options, query) }}
<div id="project-sample-list">
    {{ project_sample_list(project) }}
</div>
{% endblock %}
{% else %}
    {{ project_sample_list(project) }}
{% endif %}
