{% extends "root.html" %}
{% from "_macros.html" import icon, breadcrumbs %}
{% block title %}Add Samples to Project{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Projects", "link": ("/project/list" | app_url) },
{"name": project.id | idfmt("C"), "link": ("/project/" ~ project.id) | app_url },
{"name": "Add Samples", "active": true }]) }}
<h2>{{ self.title() }}</h2>
<p>Choose samples to add to the project <i>{{ project.name }}</p>
{% include "project_$id_add-POST.html" %}
{% endblock %}
