{% from "_macros.html.j2" import icon %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}SeedCollection{% endblock %}</title>
    <script src="{{app_prefix}}/static/js/vendor/htmx.org/dist/htmx.min.js"></script>
    <script src="{{app_prefix}}/static/js/vendor/htmx.org/dist/ext/response-targets.js"></script>
    <script src="{{app_prefix}}/static/js/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{{app_prefix}}/static/js/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{app_prefix}}/static/base.css">
    <link rel="stylesheet" href="{{app_prefix}}/static/js/vendor/bootstrap-icons/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{app_prefix}}/static/js/vendor/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{app_prefix}}/static/js/vendor/leaflet-geosearch/dist/geosearch.css"/>
    <link rel="stylesheet" href="{{app_prefix}}/static/js/vendor/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="{{app_prefix}}/static/js/vendor/leaflet/dist/leaflet.js"></script>
    <script src="{{app_prefix}}/static/js/vendor/leaflet-geosearch/dist/bundle.min.js"></script>
    <script src="{{app_prefix}}/static/js/vendor/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    {% endblock %}
</head>
<body hx-ext="response-targets"
    hx-select-oob="#flash-messages"
    hx-target-error="#flash-messages"
    {% if environment != "prod" %}class="dev"{% endif %}>
    {% block body %}
        {% block header %}
        <nav id="main-navbar" class="navbar navbar-expand-md px-md-3" data-bs-theme="dark" >
            <div class="container-xxl">
            <a class="navbar-brand" href="{{app_prefix}}/">{{ icon("flower2", "body") }} SeedCollection</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{app_prefix}}/taxonomy/">Taxonomy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{app_prefix}}/source/list">Sources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{app_prefix}}/sample/list">Samples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{app_prefix}}/project/list">Projects</a>
                    </li>
                </ul>
                {% if user %}
                <span class="navbar-text">
                    Logged in as <a href="{{app_prefix}}/user/me">{{ user.username }}</a>
                </span>
                {% endif %}
                <ul class="navbar-nav">
                    {% if user %}
                    <li class="nav-item">
                        <form method="POST"
                              action="{{app_prefix}}/auth/logout">
                            <button type="submit" class="nav-link">Log out</button>
                        </form>
                    </li>
                    {% else %}
                    <!-- disabled for now
                    <li class="nav-item">
                        <a class="nav-link" href="{{app_prefix}}/auth/register">Register</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{app_prefix}}/auth/login">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            </div>
        </nav>
        {% endblock %}
    {% endblock %}
    <div id="sc-content" class="container-xxl px-md-3 mt-3 mb-5">
    {% block content %}
    {% endblock %}
    </div>
    <footer id="sc-footer"
            class="px-md-3 text-body-tertiary bg-body-tertiary sticky-lg-bottom border-top"
            style="margin-top: 10rem">
    {% block footer %}
    <div class="container-xxl d-flex gap-3">
        <div class="flex-expand-1 me-auto">
            This project is made possible by 
            <a href="https://www.itis.gov/index.html">ITIS</a> and
            <a href="https://www.dnr.state.mn.us/eco/mbs/plant-lists.html">MNTaxa</a>
        </div>
        <div>
            &copy; Jonathon Jongsma
        </div>
    </div>
    {% endblock %}
    </footer>
</body>
</html>
