{% from "_macros.html" import icon %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}SeedCollection{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block header %}
        <nav class="navbar {% if environment == "prod" %}bg-success{% else %}text-bg-danger{% endif %} navbar-expand-md px-3" data-bs-theme="dark">
            <a class="navbar-brand" href="{{ "/" | app_url }}">{{ icon("flower2", "body") }} SeedCollection</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ "/sample/list" | app_url }}">Samples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ "/collection/list" | app_url }}">Collections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ "/location/list" | app_url }}">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ "/taxonomy/" | app_url }}">Taxonomy</a>
                    </li>
                </ul>
                {% if user %}
                <span class="navbar-text">
                    Logged in as {{ user.username }}
                </span>
                {% endif %}
                <ul class="navbar-nav">
                    {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ "/auth/logout" | app_url }}">Log out</a>
                    </li>
                    {% else %}
                    <!-- disabled for now
                    <li class="nav-item">
                        <a class="nav-link" href="{{ "/auth/register" | app_url }}">Register</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ "/auth/login" | app_url }}">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endblock %}
    {% endblock %}
    <div id="sc-content" class="container">
    {% block content %}
    {% endblock %}
    </div>
    <footer id="sc-footer" class="pb-5 text-body-tertiary bg-body-tertiary">
    {% block footer %}
    <div class="mb-3">
        <div>This project is made possible by the following data sources:</div>
        <ul>
            <li><a href="https://www.itis.gov/index.html">ITIS</a></li>
            <li><a href="https://www.dnr.state.mn.us/eco/mbs/plant-lists.html">MNTaxa</a></li>
        </ul>
    </div>
    &copy; Jonathon Jongsma
    {% endblock %}
    </footer>
</body>
</html>
