{% extends "root.html.j2" %}
{% from "_sample_macros.html.j2" import sample_form %}
{% from "_macros.html.j2" import breadcrumbs %}
{% block title %}Add a New Sample{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Samples", "link": ("/sample/list" | app_url) },
{"name": "New Sample", "active": true },
]) }}
<h2>{{ self.title() }}</h2>
{{ sample_form(sources) }}
{% endblock %}
