{% extends "root.html" %}
{% from "_macros.html" import show_germination_list %}
{% from "_macros.html" import show_vernacular_list %}
{% from "_macros.html" import icon %}
{% block title %}Sample S{{ sample.id | idfmt }}{% endblock %}
{% block content %}
<h2>{{ self.title() }} <a href="{{ ("/sample/" ~ sample.id ~ "/edit") | app_url }}">{{ icon("pencil") }}</a></h2>
<h5>Taxon</h5>
<div class="mb-3 px-2">
    <a href="{{ ("/taxonomy/" ~ sample.taxon.id) | app_url }}">{{ sample.taxon.complete_name }}</a>
</div>
<h5>Common Names</h5>
<div class="mb-3 px-2">
    {% if sample.taxon.vernaculars %}
    {{ show_vernacular_list(sample.taxon.vernaculars) }}
    {% else %}
    None
    {% endif %}
</div>
<h5>Location</h5>
<div class="mb-3 px-2"><a href="{{ ( "/location/" ~ sample.location.id) | app_url }}">{{ sample.location.name }}</a></div>
<h5>Collection Date</h5>
<div class="mb-3 px-2">{% if sample.month %}{{ sample.month }}/{% endif %}{{ sample.year }}</div>
<h5>Quantity</h5>
<div class="mb-3 px-2">
    {% if sample.quantity is none %}
    Unknown
    {% elif sample.quantity == 0 %}
    <div class="text-danger">0</div>
    {% else %}
    {{sample.quantity }}
    {% endif %}
</div>
<h5>Certainty</h5>
<div class="mb-3 px-2">
    <span
        {% if sample.certainty == "Certain" %}class="success"{% elif sample.certainty == "Uncertain" %}class="warning"{% endif %}>
        {{ sample.certainty or "Not specified" }}
    </span>
</div>
<h5>Germination Info</h5>
<div class="mb-3 px-2">
    {% if sample.taxon.germination %}
    {{ show_germination_list(sample.taxon.germination) }}
    {% else %}
    <div>No Data</div>
    {% endif %}
</div>
<h5>Notes</h5>
<div class="mb-3 px-2">{{ sample.notes }}</div>
<h5>Assignments</h5>
<ul>
    {% for a in assignments %}
    <li><a href="{{ ("/collection/" ~ a.collection.id ~ "/sample/" ~ a.id) | app_url }}">{{ a.id }}: {{ a.collection.name }}</a>
    </li>
    {% else %}
    <li>None</li>
    {% endfor %}
</ul>
{% endblock %}
