{% from "_sample_macros.html" import sample_list %}
{% if not filteronly %}
{% extends "root.html" %}
{% from "_macros.html" import icon %}
{% block title %}Samples{% endblock %}
{% block content %}
{% macro option(value, name, selected) -%}
<option value="{{ value }}" {% if selected == value %}selected{% endif %}>{{ name }}</option>
{%- endmacro %}
<h2><span class="me-2">{{ icon("box-seam") }}</span>Samples <a class="ms-2" href="{{ "/sample/new" | app_url }}">{{ icon("plus-square") }}</a></h2>
    <div class="mb-3">
    <form 
         method="GET"
         action="{{ "/sample/list" | app_url }}"
         hx-push-url="true"
         hx-boost="true"
         hx-target="#sample-table"
         hx-get="{{ "/sample/list" | app_url }}"
         hx-trigger="submit, input changed delay:500ms from:input, change changed delay:500ms from:select">
    <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   autofocus
                   placeholder="Filter list..."
                   value="{{ query.filter or "" }}"
                   name="filter">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Sort</button>
            <div class="dropdown-menu dropdown-menu-end">
                <div class="p-3">
                    <div class="mb-3">
                        <label for="sortselect" class="dropdown-header">Sort by</label>
                        {% with order = query.sort or "seq" %}
                        <select id="sortselect" class="form-select" name="sort">
                            {{ option("seq",  "Taxonomic order", order) }}
                            {{ option("name",  "Taxon name", order) }}
                            {{ option("id",  "Sample Id", order) }}
                            {{ option("sourcename",  "Seed Source", order) }}
                            {{ option("year",  "Year", order) }}
                        </select>
                        {% endwith %}
                    </div>
                    <div class="mb-3">
                        <label for="directionselect" class="dropdown-header">Sort direction</label>
                        <select id="directionselect" class="form-select" name="dir">
                            {{ option("asc", "Ascending", query.dir) }}
                            {{ option("desc", "Descending", query.dir) }}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    {{ sample_list(samples, "sample-table") }}
{% endblock %}
{% else %}
{{ sample_list(samples, "sample-table") }}
{% endif %}
