{% extends "root.html.j2" %}
{% from "_sample_macros.html.j2" import sample_form %}
{% from "_macros.html.j2" import breadcrumbs %}
{% block title %}Edit Sample {{ sample.id | idfmt("S") }}{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": (app_prefix ~ "/") },
{"name": "Samples", "link": (app_prefix ~ "/sample/list") },
{"name": sample.id | idfmt("S"), "link": (app_prefix ~ "/sample/" ~ sample.id)},
{"name": "Edit", "active": true }
]) }}
<h2>{{ self.title() }}</h2>
{{ sample_form(sources, sample) }}
{% endblock %}
