{% extends "root.html.j2" %}
{% from "_macros.html.j2" import show_germination_list, show_vernacular_list, icon, breadcrumbs, show_map %}
{% block title %}Sample S{{ sample.id | idfmt }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/js/vendor/leaflet/dist/leaflet.css"/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="/static/js/vendor/leaflet/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Samples", "link": ("/sample/list" | app_url) },
{"name": sample.id | idfmt("S"), "active": true }]) }}

<h2>
    <a href="{{ ("/taxonomy/" ~ sample.taxon.id) | app_url }}">{{ sample.taxon.complete_name }}</a>
    <a href="{{ ("/sample/" ~ sample.id ~ "/edit") | app_url }}">{{ icon("pencil") }}</a>
</h2>
<h5>Common Names</h5>
<div class="mb-3 px-2">
    {% if sample.taxon.vernaculars %}
    {{ show_vernacular_list(sample.taxon.vernaculars) }}
    {% else %}
    None
    {% endif %}
</div>
<h5>Collection Date</h5>
<div class="mb-3 px-2">
    {% if sample.year %}
    {% if sample.month %}{{ sample.month }}/{% endif %}{{ sample.year }}
    {% else %}
    <div class="text-secondary">Unknown</div>
    {% endif %}
</div>
<h5>Notes</h5>
<div class="mb-3 px-2">
{% if sample.notes %}
{{ sample.notes | markdown }}
{% else %}
<div class="text-secondary">None</div>
{% endif %}
</div>
<h5>Quantity</h5>
<div class="mb-3 px-2">
    {% if sample.quantity is none %}
    <div class="text-secondary">Unknown</div>
    {% elif sample.quantity == 0 %}
    <div class="text-danger">0</div>
    {% else %}
    {{ sample.quantity | qtyfmt }}
    {% endif %}
</div>
<h5>Certainty</h5>
<div class="mb-3 px-2">
    <span
        {% if sample.certainty == "Certain" %}class="success"{% elif sample.certainty == "Uncertain" %}class="warning"{% endif %}>
        {{ sample.certainty or "Not specified" }}
    </span>
</div>
<h5>Germination Info</h5>
<div class="mb-3 px-2">
    {% if sample.taxon.germination %}
    {{ show_germination_list(sample.taxon.germination) }}
    {% else %}
    <div class="text-secondary">No Data</div>
    {% endif %}
</div>
<h5>Project Allocations</h5>
<ul>
    {% for a in allocations %}
    <li><a href="{{ ("/project/" ~ a.project.id ~ "/sample/" ~ a.id) | app_url }}">{{ a.project.name }}</a>
    </li>
    {% else %}
    <li class="text-secondary">None</li>
    {% endfor %}
</ul>
<h5>Source</h5>
<div class="mb-3 px-2"><a href="{{ ( "/source/" ~ sample.source.id) | app_url }}">{{ sample.source.name }}</a></div>
{% if sample.source.latitude and sample.source.longitude %}
<div id="sample-location-map" style="height: 320px" class="mb-3 px-2"></div>
{{ show_map(sample.source.latitude, sample.source.longitude, 13, "sample-location-map") }}
{% endif %}
{% endblock %}
