{% from "_source_macros.html" import source_form %}
{% call source_form("source-edit", source, message, request) %}
    <div class="row mb-3">
        <button type="submit" name="submit" class="btn btn-primary">Update</button>
    </div>
    <div class="row mb-3">
        <button type="button"
                class="btn btn-danger"
                hx-delete="{{ ("/source/" ~ source.id) | app_url }}"
                hx-confirm="Are you sure you wish to delete source {{source.id}}?"
                hx-target="closest form"
                >Delete</button>
    </div>
{% endcall %}
