{% extends "root.html" %}
{% from "_macros.html" import breadcrumbs %}
{% from "_source_macros.html" import source_form %}
{% block title %}New Source{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/js/vendor/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="/static/js/vendor/leaflet-geosearch/dist/geosearch.css"/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="/static/js/vendor/leaflet/dist/leaflet.js"></script>
<script src="/static/js/vendor/leaflet-geosearch/dist/bundle.min.js"></script>
{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": ("/" | app_url) },
{"name": "Sources", "link": ("/source/list" | app_url) },
{"name": "New Source", "active": true },
]) }}
<h2>{{ self.title() }}</h2>
{{ source_form("new-source-form", none, message, request) }}
{% endblock %}
