{% extends "root.html.j2" %}
{% from "_macros.html.j2" import breadcrumbs %}
{% from "_source_macros.html.j2" import source_form %}
{% block title %}{{ source.name }} Details{% endblock %}
{% block content %}
{{ breadcrumbs([
{"name": "Home", "link": (app_prefix ~ "/") },
{"name": "Sources", "link": (app_prefix ~ "/source/list") },
{"name": source.id | idfmt("L"), "link": (app_prefix ~ "/source/" ~ source.id) },
{"name": "Edit", "active": true }
]) }}
<h2>Source Details</h2>
{{ source_form("source-edit", source, message, request) }}
{% endblock %}
