{% extends "root.html.j2" %}
{% from "_macros.html.j2" import pagination %}
{% block title %}Taxonomy{% endblock %}
{% block content %}
    <h2>Taxonomy</h2>
    {{ pagenav }}
    <ul>
        {% for t in taxa %}
        <li><a href="{{ ("/taxonomy/" ~ t.id) | app_url }}">{{ t.complete_name }}</a>
            {% if t.vernaculars|count > 0 %}
            - <span class="vernacular">{{ t.vernaculars | join(", ") }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {{ pagination(summary.npages, summary.page, request_uri)}}
{% endblock %}
