{% extends "root.html.j2" %}
{% block title %}Edit germination{% endblock %}
{% block content %}
<h2>{{ self.title() }}</h2>
<form id="new-germ-form" 
      hx-post="{{ "/taxonomy/editgerm" |app_url }}"
      hx-target="#new-messages"
      hx-swap="afterbegin"
      >
      <div class="row">
          <div class="mb-3">
              <label for="SampleTaxonInput" class="form-label">Taxon</label>
              <div class="input-group">
                  <input id="SampleTaxonInput"
                         class="form-control"
                         type="text"
                         name="taxon"
                         placeholder="Type to search..."
                         value="{% if request and request.taxon %}{{ request.taxon }}{% elif sample %}{{ sample.taxon.id }}{% endif %}" 
                         list="taxonOptions"
                         autofocus
                         hx-get="{{ "/taxonomy/datalist" | app_url }}"
                         hx-trigger="input changed delay:500ms"
                         hx-target="#taxonOptions">
                  <datalist id="taxonOptions">
                  </datalist>
              </div>
          </div>
          <div class="mb-3">
              <label for="GermCode" class="form-label">Germination Code</label>
              <select id="GermCode"
                      class="form-select"
                      name="germid"
                      >
                      {% for c in codes %}
                      <option value="{{ c.id }}">{{ c.code }}: {{ c.summary }}</option>
                      {% endfor %}
              </select>
          </div>
          <div class="mb-3">
              <button class="btn btn-primary" type="submit">Add</button>
          </div>
      </div>
</form>
<div id="new-messages"></div>
{% endblock %}
