{% if taxa %}
    {% for taxon in taxa %}
    <option value="{{ taxon.id }}"><span class="scientific">{{ taxon.complete_name }}</span>
    {% if taxon.vernaculars %}- <span class="vernacular">{{ taxon.vernaculars|join(",") }}</span>{% endif %}
    <span class='rank'>({{ taxon.rank }})</span></option>
    {% endfor %}
{% endif %}
