{% extends "root.html.j2" %}
{% from "_macros.html.j2" import icon %}
{% block title %}Taxonomy{% endblock %}
{% block content %}
<h2><span class="me-2">{{ icon("tags") }}</span>Taxonomy</h2>
    <p>Find information about any species in the database</p>
    <div class="mb-3">
        <form
                hx-get="{{ "/taxonomy/search" | app_url }}"
                hx-trigger="submit, input changed delay:500ms from:input, change delay:500ms from:#MinnesotaInput, input changed delay:500ms from:select"
                hx-target="#searchResults"
                >
                <div class="input-group mb-3">
                    <div class="col-9">
                        <input id="taxon-input"
                               autocomplete="off"
                               placeholder="Type to search..."
                               type="text"
                               autofocus
                               class="form-control"
                               name="taxon"
                               >
                    </div>
                    <div class="col-3">
                        <select id="rank-input"
                                name="rank"
                                class="form-select">
                            <option value="">Any Rank</option>
                            {% for rank in ranks %}
                            <option value="{{rank}}">{{rank}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 px-3">
                    <input id="MinnesotaInput" type="checkbox" class="form-check-input mt-0" value="true" name="minnesota">
                    <label for="MinnesotaInput" class="form-check-label">Limit results to Minnesota plants</label>
                </div>
        </form>
    </div>
    <div id="searchResults"
        class="mv-3"></div>
{% endblock %}
