{% macro month_options(selected) -%}
<option value="">Choose a month...</option>
<option value="1" {% if selected == 1 %}selected{% endif %}>January</option>
<option value="2" {% if selected == 2 %}selected{% endif %}>February</option>
<option value="3" {% if selected == 3 %}selected{% endif %}>March</option>
<option value="4" {% if selected == 4 %}selected{% endif %}>April</option>
<option value="5" {% if selected == 5 %}selected{% endif %}>May</option>
<option value="6" {% if selected == 6 %}selected{% endif %}>June</option>
<option value="7" {% if selected == 7 %}selected{% endif %}>July</option>
<option value="8" {% if selected == 8 %}selected{% endif %}>August</option>
<option value="9" {% if selected == 9 %}selected{% endif %}>September</option>
<option value="10" {% if selected == 10 %}selected{% endif %}>October</option>
<option value="11" {% if selected == 11 %}selected{% endif %}>November</option>
<option value="12" {% if selected == 12 %}selected{% endif %}>December</option>
{%- endmacro %}

{% macro sample_form(locations, sample=none, request=none, message=none) -%}
{% if sample %}
<form hx-put="{{ ("/sample/" ~ sample.id) | app_url }}">
{% else %}
<form hx-post="{{ "/sample/new" | app_url }}">
{% endif %}
    {% if message %}
    <div class="mb-3 alert alert-{% if message.type == "Error" %}danger{% elif message.type == "Warning" %}warning{% elif message.type== "Success" %}success{% endif %}">
        {{ message.msg }}
    </div>
    {% endif %}
    <div class="row g-6">
        <div class="col">
            {% if sample %}
            <div class="mb-3">
                <label for="SampleIdInput" class="form-label">ID</label>
                <input id="SampleIdInput" class="form-control" value="{{ sample.id if sample }}" disabled readonly>
            </div>
            {% endif %}
            <div class="mb-3">
                <label for="SampleTaxonInput" class="form-label">Taxon</label>
                <input id="SampleTaxonInput"
                       class="form-control"
                       type="text"
                       name="taxon"
                       placeholder="Type to search..."
                       value="{% if request and request.taxon %}{{ request.taxon }}{% elif sample %}{{ sample.taxon.id }}{% endif %}" 
                       list="taxonOptions"
                       autofocus
                       hx-get="{{ "/taxonomy/quickfind" | app_url }}"
                       hx-trigger="input changed delay:500ms"
                       hx-target="#taxonOptions">
                <datalist id="taxonOptions">
                </datalist>
            </div>
            <div class="mb-3">
                <label for="SampleLocationInput" class="form-label">Location</label>
                <div class="input-group">
                    <select id="SampleLocationInput" class="form-select" name="location"
                        hx-trigger="reload-locations from:body"
                        hx-get="{{ "/location/list/options" | app_url }}">
                        <option value="">Choose a location...</option>
                        {% for l in locations %}
                        <option value="{{ l.id }}"
                        {% if request and (request.location == l.id) %}selected{% elif sample and (l.id == sample.location.id) %}selected{% endif %}
                        >{{ l.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="button"
                            id="AddLocationButton" class="btn btn-outline-secondary"
                            hx-get="{{ "/location/new/modal" | app_url }}"
                            hx-target="#ModalContainer"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#ModalContainer">
                        Add new location</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="SampleMonthInput" class="form-label">Month</label>
                <select id="SampleMonthInput"
                    class="form-control"
                    name="month"
                    >
                    {{ month_options(request.month if request else sample.month if sample) }}
                </select>
            </div>
            <div class="mb-3">
                <label for="SampleYearInput" class="form-label">Year</label>
                <input id="SampleYearInput"
                class="form-control"
                type="number"
                name="year"
                value="{% if request %}{{ request.year }}{% elif sample %}{{ sample.year }}{% endif %}"/>
            </div>
            <div class="mb-3">
                <label for="SampleQuantityInput" class="form-label">Quantity</label>
                <input id="SampleQuantityInput"
                class="form-control"
                type="number"
                name="quantity"
                value="{% if request %}{{request.quantity }}{% elif sample %}{{ sample.quantity }}{% endif %}"/>
            </div>
        </div>
    </div>
    <div class="row g-6">
        <div class="mb-3">
        <label for="SampleNotesInput" class="form-label">Notes</label>
        <textarea id="SampleNotesInput" class="form-control" name="notes">{% if sample.notes %}{{ sample.notes if sample }}{% endif %}</textarea>
        </div>
    </div>
    <div class="row g-6">
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">{% if sample %}Update{% else %}Add{% endif %}</button>
        </div>
{% if sample %}
        <div class="mb-3">
            <button type="submit"
                    class="btn btn-danger"
                    hx-delete="{{ ("/sample/" ~ sample.id) | api_url }}"
                    hx-confirm="Are you sure you want to delete sample {{ sample.id }}?"
                    hx-target="closest form"
                    >Delete</button>
        </div>
{% endif %}
    </div>
</form>
<div id="ModalContainer"
     class="modal"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{%- endmacro %}

{% macro location_form(id, loc=none, message=none, request=none) -%}
<div id="delete-error-display"></div>
{% if loc %}
<form hx-put="{{ ("/location/" ~ loc.id) | app_url }}" id="{{ id }}">
{% else %}
<form hx-post="{{ "/location/new" | app_url }}" id="{{ id }}">
{% endif %}
    {{ show_message(message) }}
    <div class="row px-3 mb-3">
        <label class="form-label" for="LocationNameInput">Name</label>
        <input id="LocationNameInput"
               class="form-control"
               type="text"
               name="name"
               value="{{ request.name or loc.name or "" }}">
    </div>
    <div class="row px-3 mb-3">
        <label class="form-label" for="LocationDescInput">Description</label>
        <textarea id="LocationDescInput"
                  class="form-control"
                  name="description">{{ request.description or loc.description or "" }}</textarea>
    </div>
    <div class="row px-3 mb-3">
        <label class="form-label" for="LocationLatitudeInput">Latitude</label>
        <input id="LocationLatitudeInput"
               class="form-control"
               type="number"
               step="any"
               name="latitude"
               value="{{ request.latitude or loc.latitude or "" }}">
    </div>
    <div class="row px-3 mb-3">
        <label class="form-label" for="LocationLongitudeInput">Longitude</label>
        <input id="LocationLongitudeInput"
               class="form-control"
               type="number"
               step="any"
               name="longitude"
               value="{{ request.longitude or loc.longitude or "" }}">
    </div>
    {{ caller() }}
</form>
{%- endmacro %}

{% macro show_message(message) -%}
{% if message %}
<div class="mb-3 alert alert-{% if message.type == "Error" %}danger{% elif message.type == "Warning" %}warning{% elif message.type== "Success" %}success{% endif %}">
    {{ message.msg }}
</div>
{% endif %}
{%- endmacro %}

{% macro collection_form(id, collection=none, message=none, request=none) -%}
<form 
{% if collection %}
hx-put="{{ ("/collection/" ~ collection.id) | app_url }}"
{% else %}
hx-post="{{ "/collection/new" | app_url }}"
{% endif %}
 hx-swap="outerHTML" id="{{ id }}">
    {{ show_message(message) }}
    <div class="row px-3 mb-3">
        <label class="form-label" for="CollectionNameInput">Name</label>
        <input id="CollectionNameInput"
               form="{{ id }}"
               class="form-control"
               type="text"
               value="{{ request.name or collection.name or "" }}"
               name="name">
    </div>
    <div class="row px-3 mb-3">
        <label class="form-label" for="CollectionDescInput">Description</label>
        <textarea id="CollectionDescInput"
                  form="{{ id }}"
                  class="form-control"
                  name="description">{{ request.description or collection.description or ""}}</textarea>
    </div>
    <div class="row px-3 mb-3">
        <button class="btn btn-primary"
                type="submit">{% if collection %}Update{% else %}Add{% endif %}</button>
    </div>
    {% if collection %}
    <div class="row px-3 mb-3">
        <button type="submit"
                class="btn btn-danger"
                hx-delete="{{ ("/collection/" ~ collection.id) | app_url }}"
                hx-confirm="Are you sure you want to delete collection {{ collection.id }}?"
                hx-target="closest form"
                >Delete</button>
    </div>
    {% endif %}
</form>
{%- endmacro %}

{% macro collection_display(collection) -%}
    <div class="row px-3 mb-3">
        <div class="form-label">Name</div>
        <div class="form-control">{{ collection.name }}</div>
    </div>
    <div class="row px-3 mb-3">
        <div class="form-label">Description</div>
        <div class="form-control">{{ collection.description }}</div>
    </div>
{%- endmacro %}

{% macro sample_list(samples, cssid) -%}
<table class="table" id="{{ cssid }}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Taxon</th>
                <th>Location</th>
                <th>Year</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for s in samples %}
            <tr>
                <td><a href="{{ ("/sample/" ~ s.id) | app_url }}">{{ s.id }}</a></td>
                <td><a href="{{ ("/taxonomy/" ~ s.taxon.id) | app_url }}">{{ s.taxon.complete_name }}</a></td>
                <td><a href="{{ ("/location/" ~ s.location.id) | app_url }}">{{ s.location.name }}</a></td>
                <td>{{ s.year or "" }}</td>
                <td>{{ s.quantity or "" }}</td>
            <tr>
            {% endfor %}
        </tbody>
    </table>
{%- endmacro %}
