{% macro month_options(selected) -%}
<option value="">Choose a month...</option>
<option value="1" {% if selected == 1 %}selected{% endif %}>January</option>
<option value="2" {% if selected == 2 %}selected{% endif %}>February</option>
<option value="3" {% if selected == 3 %}selected{% endif %}>March</option>
<option value="4" {% if selected == 4 %}selected{% endif %}>April</option>
<option value="5" {% if selected == 5 %}selected{% endif %}>May</option>
<option value="6" {% if selected == 6 %}selected{% endif %}>June</option>
<option value="7" {% if selected == 7 %}selected{% endif %}>July</option>
<option value="8" {% if selected == 8 %}selected{% endif %}>August</option>
<option value="9" {% if selected == 9 %}selected{% endif %}>September</option>
<option value="10" {% if selected == 10 %}selected{% endif %}>October</option>
<option value="11" {% if selected == 11 %}selected{% endif %}>November</option>
<option value="12" {% if selected == 12 %}selected{% endif %}>December</option>
{%- endmacro %}

{% macro sample_form(locations, sample=none, request=none, error=none) -%}
{% if sample %}
<form hx-put="{{ ("/sample/" ~ sample.id) | app_url }}">
{% else %}
<form hx-post="{{ "/sample/new" | app_url }}">
{% endif %}
    {% if error %}
    <div class="mb-3 alert alert-danger">
        Failed to save sample: {{ error }}
    </div>
    {% endif %}
    <div class="row g-6">
        <div class="col">
            {% if sample %}
            <div class="mb-3">
                <label for="SampleIdInput" class="form-label">ID</label>
                <input id="SampleIdInput" class="form-control" value="{{ sample.id if sample }}" disabled readonly>
            </div>
            {% endif %}
            <div class="mb-3">
                <label for="SampleTaxonInput" class="form-label">Taxon</label>
                <input id="SampleTaxonInput"
                       class="form-control"
                       type="text"
                       name="taxon"
                       placeholder="Type to search..."
                       value="{% if request %}{{ request.taxon }}{% elif sample %}{{ sample.taxon.id }}{% endif %}" 
                       list="taxonOptions"
                       hx-get="{{ "/taxonomy/quickfind" | app_url }}"
                       hx-trigger="input changed delay:500ms"
                       hx-target="#taxonOptions">
                <datalist id="taxonOptions">
                </datalist>
            </div>
            <div class="mb-3">
                <label for="SampleLocationInput" class="form-label">Location</label>
                <div class="input-group">
                    <select id="SampleLocationInput" class="form-select" name="location"
                        hx-trigger="reload-locations from:body"
                        hx-get="{{ "/location/list/options" | app_url }}">
                        <option value="">Choose a location...</option>
                        {% for l in locations %}
                        <option value="{{ l.id }}"
                        {% if request and (request.location == l.id) %}selected{% elif sample and (l.id == sample.location.id) %}selected{% endif %}
                        >{{ l.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="button"
                            id="AddLocationButton" class="btn btn-outline-secondary"
                            hx-get="{{ "/location/new/modal" | app_url }}"
                            hx-target="#ModalContainer"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#ModalContainer">
                        Add new location</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="SampleMonthInput" class="form-label">Month</label>
                <select id="SampleMonthInput"
                    class="form-control"
                    name="month"
                    >
                    {{ month_options(request.month if request else sample.month if sample) }}
                </select>
            </div>
            <div class="mb-3">
                <label for="SampleYearInput" class="form-label">Year</label>
                <input id="SampleYearInput"
                class="form-control"
                type="number"
                name="year"
                value="{% if request %}{{ request.year }}{% elif sample %}{{ sample.year }}{% endif %}"/>
            </div>
            <div class="mb-3">
                <label for="SampleQuantityInput" class="form-label">Quantity</label>
                <input id="SampleQuantityInput"
                class="form-control"
                type="number"
                name="quantity"
                value="{% if request %}{{request.quantity }}{% elif sample %}{{ sample.quantity }}{% endif %}"/>
            </div>
        </div>
    </div>
    <div class="row g-6">
        <div class="mb-3">
        <label for="SampleNotesInput" class="form-label">Notes</label>
        <textarea id="SampleNotesInput" class="form-control" name="notes">{% if sample.notes %}{{ sample.notes if sample }}{% endif %}</textarea>
        </div>
    </div>
    <div class="row g-6">
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">{% if sample %}Update{% else %}Add{% endif %}</button>
        </div>
{% if sample %}
        <div class="mb-3">
            <button type="submit"
                    class="btn btn-danger"
                    hx-delete="{{ ("/sample/" ~ sample.id) | api_url }}"
                    hx-confirm="Are you sure you want to delete sample {{ sample.id }}?"
                    hx-target="closest form"
                    >Delete</button>
        </div>
{% endif %}
    </div>
</form>
<div id="ModalContainer"
     class="modal"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{%- endmacro %}

{% macro location_form(id, loc=none, request=none) -%}
<div id="delete-error-display"></div>
<form hx-post="{{ "/location/new" | api_url }}" id="{{ id }}">
    <div class="row px-3 mb-3">
        <label class="form-label" for="LocationNameInput">Name</label>
        <input id="LocationNameInput"
               form="{{ id }}"
               class="form-control"
               type="text"
               name="name">
    </div>
    <div class="row px-3 mb-3">
        <label class="form-label" for="LocationDescInput">Description</label>
        <textarea id="LocationDescInput"
                  form="{{ id }}"
                  class="form-control"
                  name="description"></textarea>
        <input id="LocationLatitudeInput"
               form="{{ id }}"
               type="hidden"
               name="latitude"
               value="">
        <input id="LocationLongitudeInput"
               form="{{ id }}"
               type="hidden"
               name="longitude"
               value="">
    </div>
    {{ caller() }}
</form>
{%- endmacro %}

