{% extends "root.html" %}
{% block title %}Remove Sample{% endblock %}
{% block content %}
<h2>Remove Sample</h2>
<p>Modifying collection <b>{{ collection.name }}</b></p>
<p>Are you sure that you wish to remove the following sample from this collection?</p>
    <dl>
        <dt>ID</dt>
        <dd>{{ sample.id }}</dd>
        <dt>Name</dt>
        <dd>{{ sample.taxon.complete_name }} ({{ sample.taxon.id }})</dd>
        <dt>Location</dt>
        <dd>{{ sample.location.name }} ({{ sample.location.id }})</dd>
    </dl>
    <form hx-delete="/api/v1/collection/{{ collection.id }}/sample/{{ sample.id }}" hx-swap="none">
    <input type="submit" value="Remove"></dd>
</form>
{% endblock %}

