{% extends "root.html" %}
{% block title %}Collection {{ collection.id }}{% endblock %}
{% block content %}
<h2>Collection Details</h2>
<form hx-put="/api/v1/collection/{{ collection.id }}" hx-swap="none">
    <dl>
        <dt>ID</dt>
        <dd>{{ collection.id }}</dd>
        <dt>Name</dt>
        <dd><input type="text" name="name" value="{{ collection.name }}"></dd>
        <dt>Description</dt>
        <dd><textarea name="description">{{ collection.description }}</textarea></dd>
    </dl>
    <input type="submit" value="Update"></dd>
</form>
<h3>Samples in this collection</h3>
{% if collection.samples %}
<table>
    <tr>
        <th>ID</th>
        <th>Taxon</th>
        <th>Location</th>
    </tr>
    {% for s in collection.samples %}
    <tr>
        <td><a href="../sample/{{ s.id }}">{{ s.id }}</a></td>
        <td>{{ s.taxon.complete_name }}</td>
        <td>{{ s.location.name }}</td>
        <td><a href="{{ collection.id }}/sample/{{ s.id }}/remove">X</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No samples found</p>
{% endif %}
{% endblock %}
