{% from "_macros.html" import collection_form %}
{% extends "root.html" %}
{% block title %}Collection {{ collection.id }}{% endblock %}
{% block content %}
<h2>Collection Details</h2>
{{ collection_form("collection-form", collection, messages, request) }}
<h3>Samples in this collection <a href="{{ ("/collection/" ~ collection.id) | app_url }}/add">+</a></h3>
{% if collection.samples %}
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Taxon</th>
        <th>Location</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for s in collection.samples %}
    <tr>
        <td><a href="{{ ("/sample/" ~ s.id) | app_url }}">{{ s.id }}</a></td>
        <td>{{ s.taxon.complete_name }}</td>
        <td>{{ s.location.name }}</td>
        <td><button type="submit" class="btn btn-outline-danger"
                hx-delete="{{ ("/collection/" ~ collection.id ~ "/sample/" ~ s.id) | app_url }}"
                hx-confirm="Are you sure you want to remove sample {{ s.id }}?"
                hx-target="closest tr"
                hx-swap="outerHTML">Remove</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No samples found</p>
{% endif %}
{% endblock %}
