{% extends "root.html" %}
{% block title %}{{ location.name }} Details{% endblock %}
{% block content %}
<h2>Location Details</h2>
<form hx-put="/api/v1/location/{{ location.id }}" hx-swap="none">
    <div class="row mb-3">
        <label class="form-label" for="LocationIdInput">ID</label>
        <input type="text" id="LocationIdInput" class="form-control" value="{{ location.id }}" disabled readonly>
    </div>
    <div class="row mb-3">
        <label class="form-label" for="LocationNameInput">Name</label>
        <input type="text" id="LocationNameInput" class="form-control" name="name" value="{{ location.name }}"></dd>
    </div>
    <div class="row mb-3">
        <label class="form-label" for="LocationDescInput">Description</label>
        <textarea class="form-control" id="LocationDescInput" name="description">{{ location.description if location.description }}</textarea></dd>
    </div>
    <div class="row mb-3">
        <div class="col">
        <button type="submit" name="submit" class="btn btn-primary">Update</button>
        </div>
        <div class="col">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
        </div>
    </div>
    <input type="hidden" name="latitude" value="">
    <input type="hidden" name="longitude" value="">
</form>
<h3>{{ samples|count }} samples from this location</h3>
{% if samples %}
<ul>
{% for sample in samples %}
<li><a href="../sample/{{ sample.id }}">{{ sample.id }} - {{ sample.taxon.complete_name }}</a></li>
{% endfor %}
</ul>
{% endif %}

<div class="modal" tabindex="-1" id="delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the following location?</p>
        <p>{{ location.id }}: {{ location.name }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" hx-delete="/api/v1/location/{{ location.id }}" hx-swap="none">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
