{% extends "root.html" %}
{% from "_macros.html" import sample_list, icon %}
{% block title %}Samples{% endblock %}
{% block content %}
<h2><span class="me-2">{{ icon("box-seam") }}</span>Samples <a class="ms-2" href="{{ "/sample/new" | app_url }}">{{ icon("plus-square") }}</a></h2>
    <div class="mb-3">
    <form 
           hx-target="#sample-table"
           hx-get="{{ "/sample/filter" | app_url }}"
           hx-trigger="submit, input changed delay:500ms from:input">
    <input type="text"
           class="form-control"
           placeholder="Filter list..."
           name="fragment">
    </form>
    </div>
    {{ sample_list(samples, "sample-table") }}
{% endblock %}
