{% extends "root.html" %}
{% from "_macros.html" import sample_list %}
{% block title %}Samples{% endblock %}
{% block content %}
    <h2>Samples</h2>
    <p><a href="{{ "/sample/new" | app_url }}">Add a new sample</a></p>
    <input type="text"
           class="form-control"
           placeholder="Filter list..."
           name="fragment"
           hx-trigger="keyup changed delay:500ms"
           hx-swap="OuterHTML"
           hx-target="#sample-table"
           hx-get="{{ "/sample/filter" | app_url }}">
    {{ sample_list(samples, "sample-table") }}
{% endblock %}
