{% extends "root.html" %}
{% block title %}Sample {{ sample.id }}{% endblock %}
{% block content %}
<h2>Sample Details <a href="{{ ("/sample/" ~ sample.id ~ "/edit") | app_url }}"><img src="/static/pen.svg"></a></h2>
<table class="table">
    <colgroup>
        <col style="width: 15%">
        <col>
    </colgroup>
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{ sample.id }}</td>
        </tr>
        <tr>
            <td>Taxon</td>
            <td><a href="{{ ("/taxonomy/" ~ sample.taxon.id) | app_url }}">{{ sample.taxon.complete_name }}</a></td>
        </tr>
        <tr>
            <td>Common Names</td>
            <td>
                {% if sample.taxon.vernaculars %}
                <ul class="list-group list-group-flush">
                {% for name in sample.taxon.vernaculars %}
                <li class="list-group-item">{{ name }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Location</td>
            <td><a href="{{ ( "/location/" ~ sample.location.id) | app_url }}">{{ sample.location.name }}</a></td>
        </tr>
        <tr>
            <td>Collection Date</td>
            <td>{% if sample.month %}{{ sample.month }}/{% endif %}{{ sample.year }}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>{{ sample.quantity }}</td>
        </tr>
        <tr>
            <td>Certainty</td>
            <td>
                <span
                    {% if sample.certainty == "Certain" %}class="success"{% elif sample.certainty == "Uncertain" %}class="warning"{% endif %}>
                    {{ sample.certainty or "Not specified" }}
                </span>
            </td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>{{ sample.notes }}</td>
        </tr>
    </tbody>
    </table>

    {% if collection %}
    <p>This sample is a part of collection <a href="{{ ("/collection/" ~ collection.id) | app_url }}">{{ collection.name }}</a></p>
    {% endif %}
{% endblock %}
