{% extends "root.html" %}
{% block title %}Sample {{ sample.id }}{% endblock %}
{% block content %}
    <h2>Sample Details</h2>
    <form hx-put="/api/v1/sample/{{ sample.id }}">
    <bdl>
    <dt>ID</dt>
    <dd>{{ sample.id }}</dd>
    <dt>Taxon</dt>
    <dd><a href="/app/taxonomy/{{ sample.taxon.id }}">{{ sample.taxon.complete_name }}</a></dd>
    <dt>Location</dt>
    <dd>
        <select name="location">
            {% for l in locations %}
            <option value="{{ l.id }}"{% if l.id == sample.location.id %} selected{% endif %}>{{ l.name }}</option>
            {% endfor %}
        </select>
    </dd>
    <dt>Month</dt>
    <dd><input type="number" name="month" value="{{ sample.month }}"/></dd>
    <dt>Year</dt>
    <dd><input type="number" name="year" value="{{ sample.year }}"/></dd>
    <dt>Quantity</dt>
    <dd><input type="number" name="quantity" value="{{ sample.quantity }}"/></dd>
    <dt>Notes</dt>
    <dd><textarea name="notes">{% if sample.notes %}{{ sample.notes }}{% endif %}</textarea></dd>
    </dl>
    <input type="submit" value="Update"/>
    </form>
{% endblock %}
