{% extends "root.html" %}
{% block title %}{{ taxon.complete_name }}{% endblock %}
{% block content %}
    <h2>Taxon Details</h2>
    <dl>
        <dt>Full Name</dt>
        <dd>{{ taxon.complete_name }}</dd>
        <dt>Common Names</dt>
        <dd>
            {% if taxon.vernaculars|count > 0 %}
            <ul>
                {% for name in taxon.vernaculars %}
                <li>{{ name }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </dd>
        <dt>ID</dt>
        <dd>{{ taxon.id }}</dd>
        <dt>Minnesota Status</dt>
        <dd>
            {% if taxon.native_status %}
            Present, {{ taxon.native_status }}
            {% else %}
            Not present
            {% endif %}
        </dd>
        <dt>Type Hierarchy</dt>
        <dd id="taxa-hierarchy">
            <ul>
            {% for t in parents|reverse %}
            <li
            {% if t.native_status is not none and t.native_status == "Native" %}
                class="highlighted"
            {% endif %}
            >
            <a href="{{ t.id }}">{{ t.complete_name }}</a>
            {% if t.vernaculars %}
            - <span class="vernacular">{{ t.vernaculars[0] }}</span>
            {% endif %}
            <span class="rank">({{ t.rank }})</span>
            <ul>
            {% endfor %}
            {% for c in children %}
            <li
                    {% if c.native_status is not none %}
                    {%if c.native_status == "Native" %}
                    class="native"
                    {% endif %}
                    {%if c.native_status == "Introduced" %}
                    class="introduced"
                    {% endif %}
                    {%if c.native_status == "Unknown" %}
                    class="unknown"
                    {% endif %}
                    {% endif %}
                ><a href="{{ c.id }}">{{ c.complete_name }}</a>
            {% if c.vernaculars %}
            - <span class="vernacular">{{ c.vernaculars[0] }}</span>
            {% endif %}
            <span class="rank">({{ c.rank }})</span>
            </li>
            {% endfor %}
            {% for t in parents|reverse %}
                </ul></li>
            {% endfor %}
        </dd>
    </dl>
{% endblock %}
