{% extends "root.html" %}
{% block title %}{{ taxon.complete_name }}{% endblock %}
{% block content %}
    <h2>Taxon Details</h2>
    <table class="table">
        <tbody>
            <tr>
        <td>Full Name</td>
        <td>{{ taxon.complete_name }}</td>
            </tr>
            <tr>
        <td>Common Names</td>
        <td>
            {% if taxon.vernaculars %}
            <ul class="list-group list-group-flush">
                {% for name in taxon.vernaculars %}
                <li class="list-group-item">{{ name }}</li>
                {% endfor %}
            </ul>
            {% else %}
            None
            {% endif %}
        </td>
            </tr>
            <tr>
        <td>Rank</td>
        <td>{{ taxon.rank }}</td>
            </tr>
            <tr>
        <td>Taxonomic ID</td>
        <td>{{ taxon.id }}</td>
            </tr>
            <tr>
        <td>Minnesota Status</td>
        <td>
            {% if taxon.native_status %}
            <span class="{%if taxon.native_status == "Native" %}success{% elif taxon.native_status == "Introduced" %}danger{% elif taxon.native_status == "Unknown" %}warning{% endif %}">
                Present, {{ taxon.native_status }}
            </span>
            {% else %}
            Not present
            {% endif %}
        </td>
            </tr>
            <tr>
        <td>Type Hierarchy</td>
        <td id="taxa-hierarchy">
            <ul>
            {% for t in parents|reverse %}
            <li
            {% if t.native_status is not none and t.native_status == "Native" %}
                class="highlighted"
            {% endif %}
            >
            <span class="{{ t.native_status | lower }}">
                <a href="{{ ("/taxonomy/" ~ t.id) | app_url }}">{{ t.complete_name }}</a>
                {% if t.vernaculars %}
                - <span class="vernacular">{{ t.vernaculars[0] }}</span>
                {% endif %}
                <span class="rank">({{ t.rank }})</span>
            </span>
            <ul>
            {% endfor %}
            {% for c in children %}
            <li>
                <span class="{{ c.native_status | lower }}">
                <a href="{{ ("/taxonomy/" ~ c.id) | app_url }}">{{ c.complete_name }}</a>
                {% if c.vernaculars %}
                - <span class="vernacular">{{ c.vernaculars[0] }}</span>
                {% endif %}
                <span class="rank">({{ c.rank }})</span>
                </span>
            </li>
            {% endfor %}
            {% for t in parents|reverse %}
                </ul></li>
            {% endfor %}
        </td>
            </tr>
            <tr>
        <td>Samples</td>
        <td>
            {% if samples %}
            <ul class="list-group list-group-flush">
            {% for sample in samples %}
            <li class="list-group-item"><a href="{{ ("/sample/" ~ sample.id) | app_url }}">{{ sample.id }}</a>: {{ sample.location.name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
