{% extends "root.html" %}
{% from "_macros.html" import show_germination_list %}
{% from "_macros.html" import show_vernacular_list %}
{% from "_macros.html" import sample_list %}

{% macro show_status_badge(native_status) -%}
{% if native_status == "Native" %}
<span class="badge text-bg-success">{{ native_status }}</span>
{% elif native_status == "Introduced" %}
<span class="badge text-bg-danger">{{ native_status }}</span>
{% elif native_status == "Unknown" %}
<span class="badge text-bg-warning">{{ native_status }}</span>
{% endif %}
{%- endmacro %}

{% macro show_taxon(t) -%}
<a href="{{ ("/taxonomy/" ~ t.id) | app_url }}">{{ t.complete_name }}</a>
{% if t.vernaculars %}
- <span class="vernacular">{{ t.vernaculars[0] }}</span>
{% endif %}
<span class="rank">({{ t.rank }})</span> {{ show_status_badge(t.native_status) }}
{%- endmacro %}

{% block title %}{{ taxon.complete_name }} ({{ taxon.rank }}){% endblock %}
{% block content %}
<h2 class="border-bottom mb-3">{{ self.title() }}</h2>
<h5>Common Names</h5>
<div class="mb-3 px-2">
    {% if taxon.vernaculars %}
    {{ show_vernacular_list(taxon.vernaculars) }}
    {% else %}
    None
    {% endif %}
</div>
<h5>Minnesota Status</h5>
<div class="mb-3 px-2">
    {% if taxon.native_status %}
    {{ show_status_badge(taxon.native_status) }}
    {% else %}
    Not present
    {% endif %}
</div>
<h5>Germination Info</h5>
<div class="mb-3 px-2">
    {% if germination %}
    {{ show_germination_list(germination) }}
    {% else %}
    <div>No Data</div>
    {% endif %}
</div>
<h5>Type Hierarchy</h5>
<div id="taxa-hierarchy" class="mb-3 px-2">
<ul>
    {% for t in parents|reverse %}
    <li>
        {{ show_taxon(t) }}
    <ul>
    {% endfor %}
    {% for c in children %}
    <li>
        {{ show_taxon(c) }}
    </li>
    {% endfor %}
    {% for t in parents|reverse %}
        </ul></li>
    {% endfor %}
</ul>
</div>
<h5>Samples</h5>
    <div class="mb-3 px-2">
    {{ sample_list(samples, "taxon-samples") }}
    <button type="button"
            class="btn btn-primary"
            hx-get="{{ ("/taxonomy/" ~ taxon.id ~ "/samples") | app_url }}"
            hx-target="#taxon-samples"
            hx-swap="OuterHTML">
            <div class="htmx-indicator spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            Query all child samples
    </button>
</div>
{% endblock %}
