{% extends "root.html" %}
{% block title %}{{ location.name }} Details{% endblock %}
{% block content %}
<h2>Location Details</h2>
<form hx-put="/api/v1/location/{{ location.id }}" hx-swap="none">
<dl>
<dt>ID</dt>
<dd>{{ location.id }}</dd>
<dt>Name</dt>
<dd><input type="text" name="name" value="{{ location.name }}"></dd>
<dt>Description</dt>
<dd><textarea name="description">{{ location.description }}</textarea></dd>
</dl>
<input type="submit" name="submit" value="Update"/>
<button class="delete" type="button" hx-delete="/api/v1/location/{{ location.id }}" hx-swap="none" name="delete">Delete this location</button>
</form>
<h3>{{ samples|count }} samples from this location</h3>
{% if samples %}
<ul>
{% for sample in samples %}
<li><a href="../sample/{{ sample.id }}">{{ sample.id }} - {{ sample.taxon.complete_name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
