{% extends "root.html" %}
{% block title %}Sample {{ sample.id }}{% endblock %}
{% block content %}
    <h2>Sample Details</h2>
    <form hx-put="/api/v1/sample/{}">
    <bdl>
    <dt>ID</dt>
    <dd>{{ sample.id }}</dd>
    <dt>Taxon</dt>
    <dd><a href="/app/taxonomy/{{ sample.taxon.id }}">{{ sample.taxon.complete_name }}</a></dd>
    <dt>Location</dt>
    <dd><a href="/app/location/{{ sample.location.id }}">{{ sample.location.name }}</a></dd>
    <dt>Month</dt>
    <dd><input type="number" name="month" value="{{ sample.month }}"/></dd>
    <dt>Year</dt>
    <dd><input type="number" name="year" value="{{ sample.year }}"/></dd>
    <dt>Quantity</dt>
    <dd><input type="number" name="quantity" value="{{ sample.quantity }}"/></dd>
    <dt>Notes</dt>
    <dd><textarea name="notes">{{ sample.notes }}</textarea></dd>
    </dl>
    <input type="submit" value="Update"/>
    </form>
{% endblock %}
