{% extends "root.html" %}
{% block title %}{{ taxon.complete_name }}{% endblock %}
{% block body %}
    <h1>Taxon Details</h1>
    <dl>
        <dt>ID</dt>
        <dd>{{taxon.id }}</dd>
        <dt>Name</dt>
        <dd>{{taxon.complete_name }}</dd>
        <dt>name1</dt>
        <dd>{{taxon.name1 }}</dd>
        <dt>name2</dt>
        <dd>{{taxon.name2 }}</dd>
        <dt>name3</dt>
        <dd>{{taxon.name3 }}</dd>
        <dt>Vernacular Names</dt>
        <dd>
            {# FIXME: don't output ul if no common names #}
            <ul>
                {% for name in taxon.vernaculars %}
                <li>{{ name }}</li>
                {% endfor %}
            </ul>
        </dd>
        <dt>Minnesota Status</dt>
        <dd>{{taxon.native_status }}</dd>
    </dl>
{% endblock %}
