(common_logging) {
    log {
        output stdout
        format console # easy to read in `podman logs`
        level INFO
    }
}

# redirect http requests to https
:80 {
	import common_logging
	# Need to redirect to the public port, which is assumed to be 8443
	redir https://{http.request.host}:8443{uri} permanent
}

:443 {
	import common_logging
	# generate a self-signed cert for local development
	tls internal {
		on_demand
	}
	# Reverse proxy to your web application
	reverse_proxy localhost:8081
}
